[2019-11-09 00:01] NoticeVengus opened #3 "How to achieve high concurrency and low latency？"
您好，请问DeFiBus在RocketMQ上增加的特性，是如何支撑其高并发、低延时特性的？

[2019-11-12 06:45] RustRw opened #4 "Does RPC call support any routing strategy ?"
类似 路由上是树型分布的多节点. 一个请求需要发往全部或部分节点. 有些子节点网络是不通的.

是否支持通过路由转发到对应的节点.

[2019-11-12 08:57] wqliang commented on #4
你描述的“一个请求需要发往全部或部分节点”是指什么？是否可以把具体场景描述一下？

[2019-11-15 02:19] qqeasonchen commented on #4
我理解是配置指定ip调用吗？或者配置权重之类的？ @RustRw

[2019-11-15 02:21] qqeasonchen commented on #3
同步RPC调用是我们新增的特性

[2019-11-18 13:19] RustRw commented on #4
@wqliang @qqeasonchen  场景是这样的,  每一台机器我都知道, 但是网络不能直连, 有些关键节点有转发属性, 比如某些比较安全的行业里, 地域之间就一两台机器是通的. 这个时候需要加一层设计过的代理. 不知道是否可以有更通用一些的方式(代理)实现.

[2019-11-21 13:12] wqliang commented on #4
@RustRw 我理解你遇到的场景是，通过若干台与两边网络都互通的机器，打通网络不互通的两堆机器。这种场景用总线这种方式是能够解决的。像DeFiBus的总线实现方式，就是在总线这一层增加了类似就近监听消费之类的自定义逻辑。可以交流一下你的思路或者理解，或许可以碰出一些新的思路。

[2019-11-30 01:22] qqeasonchen commented on #4
@RustRw 可以加群沟通一下

[2019-12-02 06:24] RustRw commented on #4
好的

[2019-12-18 02:07] wangjingquang opened #5 "When do you plan to open source completely?"
下述这些功能大概什么时候可以开源？ 有时间计划吗？

服务路由和定位：动态路由及定位(后续开源)
服务代理：TCP/HTTP及多语言的代理(后续开源)
服务治理：服务元数据的管理(后续开源)
平滑升级：平滑升级、平滑扩容(后续开源)

[2019-12-18 06:24] qqeasonchen commented on #5
@wangjingquang 正在准备中，敬请期待，目前开源的功能是完整的，可以放心使用

[2019-12-30 12:26] qqeasonchen opened #7 "subscribe nearby may cause instance overload"
As described in docs, message queue will be allocated to instances in same IDC even if there is only one consumer.  When some unexpected accident happen and there is only one consumer alive, it will bear the load of whole IDC, which may cause this consumer overload.

The feature of "auto expand or shrink queue number" will keep queue number equals to the number of alive consumer,  which enable us

[2019-12-30 12:29] wqliang commented on #7
I'd like to pull a request to resolve this problem.

[2020-01-09 03:03] qqeasonchen commented on #7
@wqliang nice

[2020-01-13 03:34] qqeasonchen opened #8 "Wanted: who's using EventMesh"
Who is Using EventMesh
First of all, thanks sincerely for constantly using and supporting DeFiBus. We will try our best to keep DeFiBus better, and keep growing community and eco-system.

The purpose of this issue
We’d like to listen to the community to make EventMesh better.
We want to attract more people to contribute to EventMesh.
We're willing to learn more EventMesh use scenarios in the field

[2020-02-11 08:01] javaliming0424 commented on #5
源码可以运行么。

[2020-02-12 12:13] keranbingaa commented on #5
@javaliming0424  gradle构建好后可以直接运行

[2020-02-26 07:27] javaliming0424 opened #9 "I look forward to your continued open source soon"
希望后续的能够早些开源，饥渴难耐。

[2020-03-04 07:47] superheizai opened #10 "any plan to support maven?"
Hi All,

     any plan to support maven ?
     For our teams,  we use maven to manage our projects. If it can be build with maven, will give us more convenience。
     thanks

[2020-03-23 12:33] keranbingaa commented on #10
It's easy to transform gradle project to maven project，you can refer to this link: https://www.jianshu.com/p/cac7ecb81a0c

[2020-04-18 02:02] wangsk2009 opened #12 "Is there an open source plan for the unopen sourced part?"
请问，像服务路由、代理、治理、平滑升级扩容等未开源部分，现在有开源计划了吗？

[2020-04-22 09:44] qqeasonchen commented on #12
计划中，陆续会开出来，目前的功能是完整的，不影响使用

[2020-04-22 09:45] qqeasonchen commented on #9
目前功能是完整的，不知道你对哪部分功能比较期待？

[2020-04-28 09:36] qqeasonchen commented on #10
@superheizai can you submit a PR to support maven?

[2020-04-29 13:29] #7 closed

[2020-05-17 14:54] ZShUn opened #18 "Suggest DeFibus to export the supported features to the example"
rt

[2020-07-13 13:09] qqeasonchen commented on #18
ok

[2020-07-16 09:21] MajorHe1 opened #21 "fastjson version security issue"
The version of fastjson is 1.2.61, this version has potential security risks

[2020-07-16 11:46] iNanos opened #23 "In some cases, Producer has an uneven sending flow"
There are two topics, T1 {Q0, Q1} and T2 {Q0, Q1}

The following timings exist
1. Counter = 0
2. Send T1, 0% Queue Sizeof T1 = 0, send to T1-Q0
3. Counter = 1
4. Send T2, 1% Queue Sizeof T2 = 1, send to T2-Q0
5. Counter = 2
6. Send T1, 2% Queue Sizeof T1 = 0, still send to T1-Q0
7. Counter = 3
8. Send T2, 3% Queue Sizeof T2 = 1, still send to T2-Q0
  ...

It can be seen that in step 6, for T1, two

[2020-07-16 13:42] yiliuchen opened #24 "add tools module code"

[2020-07-17 02:01] qqeasonchen commented on #23
Good issue, just fix it

[2020-07-17 02:01] #23 closed

[2020-07-20 01:28] #24 closed

[2020-07-21 01:07] duhenglucky opened #37 "The license of the script is recommended to be unified with the apache2 license"
IMHO, It would be better to change the license to the apache2 license as other files.

[2020-07-21 04:22] #37 closed

[2020-07-23 11:21] keranbingaa opened #53 "travis ci is invalid"
It seems the travis ci has some problem in eventmesh

[2020-07-23 12:12] keranbingaa opened #55 "lack chinese introduction"
I think it can help people get started faster if there are some chinese introduction.

[2020-07-28 07:18] keranbingaa opened #56 "can we provide client in python?"
python is widely used in many project, can we provide client in python?

[2020-07-28 07:26] keranbingaa opened #57 "can we provide client in c?"
some system is developed by c, so it will be convenient to access if we can provide c client

[2020-07-28 07:45] keranbingaa opened #58 "use kafka as storage"
can we support using kafka as storage?

[2020-07-28 07:54] MajorHe1 opened #59 "Any plan to use Nacos as a registration center?"
As we know， Nacos supports the discovery, configuration and management of almost all mainstream types of "services"，is there any plan to use Nacos as a registration center?

[2020-07-28 08:04] MajorHe1 opened #60 "Suggest to improve the directory structure"
For example, if you want to extend multiple storage modules, each storage module should have a separate folder in the eventmesh-store directory, and abstract  common parent classes

[2020-07-28 08:17] MajorHe1 opened #61 "How to build this project with Maven？"
Event is built with gradle, can you provide a Maven version？

[2020-07-28 08:26] MajorHe1 opened #62 "Hope to provide HTTP client"
HTTP client is a convenient way for most people to use

[2020-07-28 08:40] MajorHe1 opened #63 "Problem in /eventmesh/docs"
It seems that the documents in the docs directory only introduce DefiBus, and lack introductions to EventMesh

[2020-07-28 14:33] wqliang opened #64 "How to do event governance ？"
Does eventmesh has any component to do event governance?
How to do event governance if there are ten thousthands or event millions of events ?

[2020-07-29 03:19] wqliang opened #65 "Dose eventmesh support MQTT？"
IoT is popular nowadays，does eventmesh support MQTT ? Or any plan to support MQTT ?

[2020-07-29 03:24] wqliang opened #66 "Does eventmesh support JMS ?"
Does eventmesh support JMS ? How can we migrate to eventmesh ?

[2020-07-29 03:33] wqliang opened #67 "How to ensure each event is delivered "exactly once"?"
eventmesh-store was implemented based on RocketMQ by default as described, does it support delivering each event "exactly once"? If so, How to do that ?

[2020-07-29 06:26] qqeasonchen opened #68 "How can i find the discription of interaction protocol between SDK and EMesher?"

[2020-07-29 06:52] iNanos opened #69 "Can we use redis as a storage for commitlog?"
Can we use redis as a storage for commitlog,
in a distributed environment, we can share commitlog between differents brokers

[2020-07-29 07:36] iNanos opened #70 "Do we support event filtering？"

[2020-07-29 08:19] lrhkobe opened #71 "Does eventmesh support HTTP？Or any plan?"
HTTP is one of the most commonly used protocols. Does EventMesh support HTTP? Or is there any plan to support it?

[2020-07-29 08:58] lrhkobe opened #72 "Does eventmesh do anything in security?"
Data security is very important in finance. Does eventmesh do anything in security, such as access control, authentication?Or any plan?

[2020-07-30 09:24] qqeasonchen opened #74 "Suggest support rocketmq as store"

[2020-07-30 12:53] qqeasonchen opened #75 "There are some duplicate import packages"

[2020-08-03 03:24] qqeasonchen opened #76 "Could not find cn.webank.defibus:defibus-client:1.0.0"

[2020-08-07 06:34] xwm1992 opened #80 "Could we support AMQP protocol?"

[2020-08-07 08:50] qqeasonchen commented on #80
on schedule

[2020-08-07 08:54] walleliu1016 opened #86 "miti language support？"
At present, only Java SDKs are seen in the project.
Are there plans to support other multiple language SDK? such as go or python?

[2020-08-07 08:56] MajorHe1 opened #87 "License problem on logback dependency"
It seems that external dependency 'logback' is GPL license,  I suggest you remove or replace  this dependency

[2020-08-07 13:33] xwm1992 opened #90 "remove unnecessary code and support comment in emesher module"

[2020-08-07 14:16] walleliu1016 opened #92 "contains never throw exception in method"
method has catch the exception
`
public void sendResponse(ChannelHandlerContext ctx,
                             DefaultFullHttpResponse response) {
        ctx.writeAndFlush(response).addListener(new ChannelFutureListener() {
            @Override
            public void operationComplete(ChannelFuture f) throws Exception {
                if (!f.isSuccess()) {
                    httpLogger.war

[2020-08-07 14:57] walleliu1016 opened #93 "some toString methods are single formated in eventmesh-common component"
some toString() method not formated, this will lead print in a single without any seperator, inconvenient to view the log when analysis the problem.
such as:

HeartBeatInfo toString() method content is in the same line without any seperator
`
@Override
public String toString() {
	return "HeartBeatInfo{" +
			"serviceId=" + serviceId +
			"instanceId=" + instanceId +
			"topicList=" + topicList +

[2020-08-07 15:11] walleliu1016 commented on #93
submit a pr:
https://github.com/WeBankFinTech/EventMesh/pull/94

[2020-08-08 02:34] qqeasonchen commented on #93
good job

[2020-08-08 10:45] chenyi19851209 opened #97 "getPID method get current process id improve speed"
getPID method get  current process id waste time,because of call
ManagementFactory.getRuntimeMXBean() every time. call only once ok.

public static long getPID() {
        String processName = java.lang.management.ManagementFactory.getRuntimeMXBean().getName();
        if (processName != null && processName.length() > 0) {
            try {
                return Long.parseLong(processName.split("

[2020-08-08 12:13] walleliu1016 opened #100 "proxy.properties contains ascii content"
inconvenient to read
`
#\u6D88\u606F\u4E0B\u53D1\u5931\u8D25 \u6807\u8BB0\u5BA2\u6237\u7AEF\u9694\u79BB\u65F6\u95F4
proxy.server.tcp.pushFailIsolateTimeInMills=30000

#rebalance
proxy.server.tcp.RebalanceIntervalInMills=30000

#\u5BA2\u6237\u7AEFsession\u8FC7\u671F\u65F6\u95F4
proxy.server.session.expiredInMills=60000

#flow control,\u5206global\u7EA7\u522B\u548Csession\u7EA7\u522B
proxy.server.tc

[2020-08-08 12:18] walleliu1016 opened #101 "wrong toString() method tag about PushMessageResponseBody"
the toString() method about PushMessageResponseBody named to sendMessageResponseBody
should be **_pushMessageResponseBody_**
`
    @Override
    public String toString() {
        StringBuilder sb = new StringBuilder();
        sb.append("**_sendMessageResponseBody_**={")
                .append("retCode=").append(retCode).append(",")
                .append("retMsg=").append(retMsg).append(",")

[2020-08-09 03:29] qqeasonchen opened #104 "add emesher protocol description"

[2020-08-12 07:53] iNanos opened #106 "can eventmesh-emesher support rocketmq as a Independent component?"
use eventmesh-emesher as a Independent component，support eventmesh-store or other mqs like rocketmq

[2020-08-12 09:41] iNanos opened #108 "some jar version like fastjson/guava has security leak"
for example,  fastjson, guava, slf4j-api, jackson, log4j-api

[2020-08-18 08:10] lrhkobe opened #116 "ProxyUtil.getLocalAddr() is a time-consuming operation, may affect the throughput of sending and receiving messages"
ProxyUtil.getLocalAddr() is a time-consuming operation in the process of sending and receiving messages, which may affect the throughput. Maybe we can initialize at startup instead of calling this method every time in message transformation.

[2020-08-18 10:01] iNanos opened #118 "missing zh_Ch doc, eg readme, contributing guide, quickstart...."

[2020-08-18 12:03] lrhkobe opened #120 "When ack arrives at the server prior to the callback ,may cause ack problem"
When the message is pushed by the method **SessionPusher.push()** from emesher server to client  ,client will send an ack msg to server, and then the server will do ack logics. At the same time, the server will execute the callback of pushed msg.
* Callback does: push the msg into unAcked map when msg has been pushed to client success.
* Ack does: execute msg's ack, remove from unAcked map.

The p

[2020-08-19 07:17] lrhkobe opened #126 "adjust project package path"
adjust project package path

[2020-08-19 07:38] lrhkobe opened #128 "improve start and stop script, solve the problem deploying multiple process in the same server"
improve start and stop script,  solve the problem deploying multiple process in the same server

[2020-08-20 12:23] iNanos opened #139 "ClientGroupWrapper shutdownProducer/startClientGroupProducer has concurrently bug"
ClientGroupWrapper
   shutdownProducer/startClientGroupProducer

many clients in the same group frequently go online and offline, trigger concurrently bug establishing links bug, the group producer state unordered

[2020-08-25 09:41] iNanos opened #145 "missing LICENSE"

[2020-08-27 12:17] #145 closed

[2020-08-27 12:27] iNanos opened #150 "there are private authentication info in gradle conf"

[2020-08-30 02:38] iamqq23ue opened #153 "How do I send a message by using the eventmesh?"
I read the code in eventmesh-sdk-java,and find out a confcenter is needed .But I can not find the confcenter application.
By the way,I think a namesrv maybe better than a confcenter for eventmesh.

[2020-08-30 02:44] iamqq23ue opened #154 "发现两个BUG"
1，eventmesh打包版安装后，启动脚本在linux不能运行，需要在ue中重新编辑在拷贝到linux。
2，sh runadmin.sh updateTopic  -c ${ClusterName} -t ${topic} -n ${namesrvAddr} 时会报缺少tools.yml文件,从rocketmq拷贝了一个之后问题解决

[2020-08-31 01:39] qqeasonchen commented on #154
good question, we will check and fix it

[2020-09-07 03:43] lrhkobe opened #158 "not understand region in eventmesh-sdk-java"

[2020-09-07 03:49] iNanos commented on #158
region is a private concept, generally refers to the regional separator, such as city, province

[2020-09-09 02:46] iNanos opened #159 "the bin/ shell eg, start.sh, stop.sh, and the test dir script is dos text format"

[2020-09-13 11:06] #159 closed

[2020-09-16 10:01] iNanos opened #161 "why rewrite the consumer's threading model, this is unnecessary under the group agent model"
<img width="282" alt="thread" src="https://user-images.githubusercontent.com/1085564/93322801-4f4bfa80-f846-11ea-9eb4-a82f8c7cb444.png">

[2020-09-17 06:29] #161 closed

[2020-09-17 06:29] #158 closed

[2020-09-17 06:29] #154 closed

[2020-09-17 06:29] #153 closed

[2020-09-17 06:30] #139 closed

[2020-09-17 06:30] #150 closed

[2020-09-17 06:36] #128 closed

[2020-09-17 06:38] #120 closed

[2020-09-17 06:38] #108 closed

[2020-09-17 06:38] #116 closed

[2020-09-17 06:38] #118 closed

[2020-09-17 06:38] #126 closed

[2020-09-17 06:40] #87 closed

[2020-09-17 06:40] #90 closed

[2020-09-17 06:40] #92 closed

[2020-09-17 06:40] #93 closed

[2020-09-17 06:40] #97 closed

[2020-09-17 06:40] #100 closed

[2020-09-17 06:40] #101 closed

[2020-09-17 06:40] #104 closed

[2020-09-17 06:40] #106 closed

[2020-11-08 09:40] lrhkobe opened #165 "Eventmesh supports HTTP , but HTTP is not appropriate in some scenarios with high security requirements"

[2020-11-10 09:49] lrhkobe commented on #76
bug has been fixed

[2020-11-10 09:49] #76 closed

[2020-11-10 09:53] Candimy opened #169 "Provide eventmesh portal"
How about providing an eventmesh portal so that we can catch the newest events?

[2020-11-11 02:56] #71 closed

[2020-12-02 03:19] xwm1992 opened #176 "Support Spi for extended implementation to accommodate a variety of MQ"

[2020-12-17 02:51] lrhkobe opened #180 "Move defibus dependency from eventmesh-runtime to eventmesh-connector-defibus may be appropriate？"

[2020-12-17 07:47] lrhkobe opened #182 "Move rocketmq dependency from eventmesh-runtime to eventmesh-connector-rocketmq may be more appropriate?"

[2020-12-18 03:04] lrhkobe opened #184 "Eventmesh-connector-rocketmq can not send and receive msg successfully."

[2020-12-23 08:36] lrhkobe opened #186 "Separate the eventmesh-connector-defibus and eventmesh-connector-rocketmq config from eventmesh-runtime"

[2020-12-24 02:16] lrhkobe opened #188 "Test send sync RR(request-response) msg failed, just send one message, but receive msgs continuously"
Test failed when running SyncResponse.java  in eventmesh-sdk-java

[2021-01-06 03:25] xwm1992 opened #190 "Support pub/sub ,heartbeat manage and subscribe manage for http"

[2021-01-20 12:41] xwm1992 opened #199 "Support Kafka connector plugin and Kafka as event store"
Support Kafka connector to deliver event to Kafka, and please help me how can i implement this feature.

[2021-01-21 02:47] MajorHe1 commented on #199
ok, this feature looks good, you can do this by referring to defibus or rocketmq connector implementations

[2021-01-21 02:58] keranbingaa commented on #199
yes, you can implement the interface defined under the eventmesh-connector-api module, then pub/sub the events to kafka event store

[2021-01-21 03:05] xwm1992 commented on #199
ok, i'll have a look and try to handle this feature.

[2021-01-21 10:17] chenyi19851209 opened #200 "Could we support different protocol for client connect with eventMesh"
i want to use other service components connect with eventMesh， how can i transfer the communication protocol.
e.g. Prometheus connect with eventMesh to pub events

[2021-01-21 12:50] xwm1992 commented on #200
This is a good question, at present there are two ways for you to connect with eventMesh:

1. use eventmesh java sdk and followed the sdk method and protocol
2. use http client and set the message format refering to message headers/body in sdk

[2021-01-22 03:00] iNanos commented on #200
We will support a protocol parser which can dynamic run on the eventmesh like connector now in the eventmesh, you can personalize implements the interface and plug in the protocal parser to the eventmesh.
e.g. we will support cloudEvents for http and parse it in eventmesh

[2021-01-22 06:43] yiliuchen opened #201 "Could we support running eventmesh in docker"
I want to run eventmesh in docker please supports this feature.

[2021-01-22 07:46] lrhkobe commented on #201
We will provide eventmesh docker image recently.

[2021-01-23 12:56] keranbingaa opened #202 "Support broadcast messages in http sub mode"
I have download the code and run the eventmesh with tcp/http mode,  but i want to use broadcast mode in http, when i run more than one application in consumer group , only one application can receieve the message from the topic which they subscribe.

[2021-01-23 13:11] xwm1992 commented on #202
yes, eventmesh doesn't support broadcast messages in http sub mode yet. we will support this feature later or you can submit your code pull request for this feature, thanks

[2021-01-27 02:28] mattmao0913 opened #203 "The consumer pull request message's attribute 'bizSeqNo' is null"
The issues description:  the consumer pull request message's attribute 'bizSeqNo' is null

[2021-01-27 02:34] mattmao0913 opened #204 "After the exception occurs in the method, the offset of the pull message request does not change and does not scroll forward incrementally"
Issue description :
      After the exception occurs in the handleMessage method, the offset of the pull message request does not change and does not scroll forward incrementally. the pull request's attribute offset and unique does not change.

[2021-01-27 07:23] xwm1992 commented on #203
ok，i'll have a look this problem

[2021-01-27 07:38] wqliang commented on #204
please supply your exception images or other detail information

[2021-01-27 13:38] qqeasonchen opened #206 "Evaluating Karaf 5 as the runtime container"
Apache Karaf is a modulith runtime, supporting several frameworks and programming model (REST/API, web, spring boot, ...). It provides turnkey features that you can directly leverage without effort, packaged as mutable or immutable application.

How about building EventMesh on Karaf5?

[2021-01-28 03:31] xwm1992 commented on #206
ok, this is a good proposal. I'll take a look at Karaf5 and try to building EventMesh on Karaf5

[2021-01-29 02:43] xwm1992 commented on #204
I have tried the scene you mentioned, but I can't find the problem you said.May be you can pull the newest code and have a try.

[2021-02-01 11:23] fighterhit commented on #80
could we support RabbitMQ?

[2021-02-01 11:34] xwm1992 commented on #80
ok， you can open a new issue for support RabbitMQ，and we'll have a discussion for this proposal

[2021-02-01 11:36] fighterhit opened #207 "Could we support RabbitMQ?"
Could we support RabbitMQ?

[2021-02-02 02:20] vongosling opened #208 "Support FOSSA for Security Management"
1. License link should link to your license file instead of the Apache license v2 website
2. Attach the result after integrate FOSSA, you could attache the script like the following:

<a href="https://app.fossa.com/projects/git%2Bgithub.com%2Fvongosling%2Fjvm-serializer?ref=badge_large" alt="FOSSA Status"><img src="https://app.fossa.com/api/projects/git%2Bgithub.com%2Fvongosling%2Fjvm-serializer.s

[2021-02-02 02:25] xwm1992 commented on #208
Attach the result after integrate FOSSA, you could attache the script like the following:

Thank you for your advice, i'll try it later.

[2021-02-02 03:00] keranbingaa commented on #207
Thank you for your proposal, we will have a discussion and reply you later.

[2021-02-03 13:26] iNanos opened #211 "Rocketmq-connector throw nullpointer exception"
When I use rocketmq-connector with tcp sub pattern, it throw Nullpointer Exception, please have a look.

[2021-02-03 13:30] MajorHe1 commented on #211
ok，I'll take a look and handle this.

[2021-02-04 03:00] qqeasonchen commented on #207
@fighterhit Would you like to try and contribute it?

[2021-02-05 02:58] mattmao0913 opened #212 "For multiple listening instances, only the last started instance can receive messages"
Question desc:
For multiple listening instances, only the last started instance can receive messages

[2021-02-05 03:02] mattmao0913 opened #213 "The wemqproxyclientconfig object's setUsetls funcation return type is void"
Question desc:
  The wemqproxyclientconfig object's setUsetls  funcation  return type  is void

[2021-02-06 14:16] xwm1992 commented on #212
ok, I'll take a look for this problem

[2021-02-07 06:35] chenyi19851209 opened #216 "EventMesh ProxyTcpRetryer throws NumberFormatException"
When I use retry to send message in eventmesh tcp mode, it throws NumberFormatException at line 165 in ProxyTcpRetryer Class.

[2021-02-07 06:40] MajorHe1 commented on #216
ok, I'll have a look .

[2021-02-09 09:10] xwm1992 commented on #201
I'll handle this .

[2021-02-09 09:45] MajorHe1 opened #219 "Supply detail information or read.me for eventmesh running in docker"
Please provide detail information or relevant usage guidelines for eventmesh running in docker .

[2021-02-09 09:46] xwm1992 commented on #219
Ok, I'll provide this later.

[2021-02-17 21:58] ewcchan opened #220 "pub/sub client fails to start"
Hi

I was trying to follow the steps in https://github.com/WeBankFinTech/EventMesh/blob/develop/docs/en/instructions/eventmesh-sdk-java-quickstart.md to try eventMesh

My DeFiBus starts fine without error, as shown in sysout.

[code]

and

[code]

I started `com\webank\eventmesh\runtime\boot\ProxyStartup.java` in IntelliJ with VM config stated [here](https://github.com/WeBankFinTech/EventMesh/blob

[2021-02-18 03:31] xwm1992 commented on #220
When you run AsyncPublishInstance Class main method with read time out exception, what was happened in eventmesh runtime module, you can take a look of this module's log . Perhaps you didn't build this topic FT0-e-80010000-01-1 yet.

[2021-02-18 09:51] mattmao0913 opened #221 "After the eventmesh is restarted, the SDK is not automatically reconnected"
question desc:
After the eventmesh is restarted, the SDK is not automatically reconnected

[2021-02-18 09:58] mattmao0913 opened #222 "When onChange is NEW, eventMesh occurred NullPointException"
question desc:
When onChange is NEW, eventMesh occurred NullPointException

[2021-02-18 22:47] ewcchan commented on #220
I updated the `dist\conf\broker.properties` in DeFiBus with a clustername and restart the nameserver and broker with a successful topic creation; however EventMesh still failed with same error

#### broker.properties
[code]

#### Create topic
[code]

#### Errors
[code]

[2021-02-19 02:14] xwm1992 commented on #220
The `namesrvAddr=` here in this file can't be null, must be your namesrv ip:port e.g. 127.0.0.1:9876

[2021-02-19 09:01] xwm1992 commented on #222
Ok，I'll handle this exception

[2021-02-19 21:40] ewcchan commented on #220
I tried both localhost and 127.0.0.1:9876 as suggested in https://github.com/WeBankFinTech/DeFiBus/blob/master/defibus-broker/src/main/java/com/webank/defibus/broker/DeFiBusBrokerStartup.java#L146-L149, neither of them works and the async  publisher startup still failed with connection time out.
[code]

and runadmin command confirmed topic creation
[code]

Failing when topic publish with a connect

[2021-02-20 02:37] xwm1992 commented on #220
Ok, I got it. I tried it in the way as you mentioned. The phenomenon is that there is a ReadTime Out Exception when the first message is sent.When I try to run `AsyncPublishInstance` again, it will be ok. You can have a try like this.
I suppose this problem due to Eventmesh trying to start the defibus-client to connect with Defibus and this will cost a time, we can analyze this problem further tog

[2021-02-20 03:33] xwm1992 commented on #220
Consider implementing a warm-up function for the first message under HTTP requests.

[2021-02-20 06:45] #222 closed

[2021-02-23 02:11] sunxi92 opened #225 "problems in the doc and code"
the problem in the code:
At present，the eventmesh-runtime package is missing in the master branch and the released version.
the problems in the doc:
1.QuickStart of the Eventmesh-runtime has an error : in the part of 1.4， "cd bin" should be changed to "cd conf"
2.The script of "runadmin.sh" in the QuickStart of eventmesh-sdk-java can not be found in the project
3.The dependency package is missing

[2021-02-23 09:31] qqeasonchen commented on #220
@ewcchan Is there any problem that we can help?

[2021-02-23 19:41] ewcchan commented on #220
@qqeasonchen I tried the suggestion provided by @xwm1992 with multiple `AsyncPublishInstance` invocations and I am still hitting the same failure.

I observed from `ProxyStartup` output that there were failures in meshMQPushConsumer plugin loading process, as observed in following console errors.

[code]

Please advice. In the meantime I am trying to understand the `com.webank.eventmesh.client.htt

[2021-02-23 21:56] ewcchan commented on #220
I found out that I had been running the `com/webank/eventmesh/runtime/boot/ProxyStartup.java` instead of `com/webank/eventmesh/starter/StartUp.java`, After I switched to run in eventmesh-starter project with the gradle.build file that has the connector dependency, I no longer see the Read Time Out error in execution of `AsyncPublishInstance.java`.

however, On first execution of `AsyncPublishInsta

[2021-02-24 06:26] xwm1992 commented on #220
`127.0.0.1:8088` this port is configuried in the `SpringBootDemoApplication` class, after run `com/webank/eventmesh/starter/StartUp.java` you can run the `SpringBootDemoApplication` to see  eventmesh logs and springbootdemoapplication logs whether http sub is ok, then you can run `AsyncPublishInstance`.

[2021-02-25 02:53] ewcchan commented on #220
Thanks @xwm1992 I don't have any outstanding problem for now. I will close this issue and will reopen if there is further concern.

[2021-02-25 02:53] #220 closed

[2021-02-25 04:04] qqeasonchen commented on #220
Documents supplements is going on.

[2021-02-26 03:14] yiliuchen opened #226 "eventMesh-rocketmq-connector tcp pub throw operation time out exception"
When I use rocketmq-connector to pub multiply messages，it throws operation time out exception at second message were sent.

[2021-02-26 06:20] xwm1992 commented on #226
Ok, I'll have a look.

[2021-03-01 17:38] ewcchan opened #229 "Roadmap questions."
Hi, According to the roadmap listed in [readme](https://github.com/WeBankFinTech/EventMesh#roadmap), there are plan to support Schema Registry, and additional services like Tracing, Filter, etc. What is the timeline (target year/quarter) of these features? Thanks.

[2021-03-02 03:48] qqeasonchen commented on #229
Hi，these features will be launched soon and are expected to be implemented in Q3 this year, and are already in communication with contributors.

[2021-03-03 02:27] xwm1992 opened #237 "Remove eventmesh-defibus-connector and normalize code and file naming"
1.remove eventmesh-defibus-connector
2.normalize code and file naming

[2021-03-05 14:46] lrhkobe opened #242 "Lack protocol document in English"

[2021-03-09 06:39] xwm1992 commented on #242
close #242 Lack protocol document in English

[2021-03-09 06:45] #242 closed

[2021-03-09 06:45] #237 closed

[2021-03-11 15:03] #219 closed

[2021-03-14 07:48] udesh opened #250 "Support NATS connector plugin and NATS as event store"
Is there support to use [NATS](https://docs.nats.io/) as the event store.

[2021-03-15 01:49] xwm1992 commented on #250
ok, i got it, we will have a discuss for this feature.

[2021-03-15 03:28] udesh commented on #250
Yes sure, I would like to join and contribute if possible for supporting this.

[2021-03-15 03:35] xwm1992 commented on #250
ok, if you have any problem, let's communicate with dev@eventmesh.apache.org email address.

[2021-03-24 08:27] xwm1992 opened #256 "Upgrade Openmessaging-api to 2.2.1-pubsub version"
Openmessaging-api released 2.2.1-pubsub version, upgrading this in eventmesh to better connect to the Openmessaging ecosystem

[2021-03-31 03:29] liangyuanpeng commented on #207
@qqeasonchen  If someone wants to contribute this feature and what doc or codes can they refer to?

[2021-03-31 03:41] xwm1992 commented on #207
@liangyuanpeng if you want to contribute this feature you can referance the code under the eventmesh-connector-rocketmq module and eventmesh-connector-api module

[2021-03-31 03:54] qqeasonchen commented on #207
@liangyuanpeng You are very welcomed to contribute this feature, can you join the wechat group and let me know who you are and then discuss this more detail please ?

[2021-04-01 09:43] #256 closed

[2021-04-01 10:02] qqeasonchen commented on #250
@udesh you can join our wechat group and let me know who you are, or you can send email to dev@eventmesh.apache.org，welcome to contirbute anyway.

[2021-04-01 10:21] MajorHe1 opened #261 "remove module eventmesh-registry"
EventMesh-registry is not implement. So I think you should remove this module, in order to simplify structure and don't confuse users.

[2021-04-02 02:59] chenyi19851209 opened #263 "Support for unified access and transformation of OpenTracing protocol"
hi ,
We hope to connect various open source APM products in the industry with EventMesh, so that users can more conveniently display their OpenTracing tracking information in an integrated and unified platform

[2021-04-02 03:37] #261 closed

[2021-04-02 09:05] liwenzheng commented on #263
Very good proposal. It can be built in by default.

[2021-04-05 23:03] ewcchan commented on #229
I am interested in the filtering and orchestration capability and their architecture as listed in v1.3. I would like to understand and participate in the design, Is there any early adaption/participation availability of the mentioned features? Thanks

[2021-04-05 23:04] ewcchan commented on #70
I would also like to under how it will be supported in EM.

[2021-04-06 01:44] qqeasonchen commented on #70
@ewcchan yes, this feature is on our roadmap.

[2021-04-06 02:35] ewcchan commented on #70
Thanks for the info.

[2021-04-06 05:17] qqeasonchen commented on #229
@ewcchan you can give your desgin or idea anytime to community and have a discussion together, welcome to contirbue.

[2021-04-08 03:18] xwm1992 opened #265 "Specification of code structure and file naming"
Currently, there are some confusing names for files, properties and configurations, such as WEMQ, Access, Proxy, etc. Please normalize the naming of these contents.

[2021-04-08 03:36] MajorHe1 commented on #265
How to normalize?

[2021-04-08 06:14] xwm1992 commented on #265
You do this optimization for code under the 1.3.0 branch

[2021-04-08 06:24] qqeasonchen commented on #265
@xwm1992 @MajorHe1 I suggest do it on 1.2.2 so it can be published on the coming release of 1.2.

[2021-04-13 03:06] #265 closed

[2021-04-15 06:26] #182 closed

[2021-04-15 06:31] vongosling opened #270 "Support another optional storage engine Pravega"
Pravega provides an ideal way to store streaming data, we could try to connect it to store the event streaming data.

[2021-04-15 06:41] #184 closed

[2021-04-15 06:43] vongosling commented on #208
Since enter ASF, we could not import this feature. close temporarily.

[2021-04-15 06:43] #208 closed

[2021-04-15 07:05] qqeasonchen opened #271 "Create incubator website"
Create website from github pages.

[2021-04-15 07:18] #271 closed

[2021-04-16 03:03] qqeasonchen commented on #270
good suggestion~

[2021-04-16 08:09] qqeasonchen opened #274 "Lightweight SDKs for CloudEvents and EventStreaming"
They are at least three solutions for SDKs distribution now.
1. [EventMesh binding CloudEvents and make necessary extensions with EventMesh SDKs](https://github.com/apache/incubator-eventmesh/blob/develop/docs/en/features/eventmesh-cloudevents-sdk-binding.md)[1]
2. CloudEvents integrate Spring[2][3]
3. [Spring Cloud Stream and Function Parts](https://github.com/apache/incubator-eventmesh/blob/deve

[2021-04-16 08:09] qqeasonchen opened #275 "Support Event Streaming"

[2021-04-16 08:11] qqeasonchen opened #276 "Support Serverless Workflow"

[2021-04-19 07:39] qqeasonchen opened #277 "Refactor 'eventmesh-common' package name to org.apache"
Now that code has been donated to apche, we should change the package name from webank to apache.

[2021-04-19 08:38] qqeasonchen opened #278 "Refactor 'eventmesh-connector-api' package name to org.apache"

[2021-04-19 08:39] qqeasonchen opened #279 "Refactor 'eventmesh-connector-rocketmq' package name to org.apache"

[2021-04-19 08:40] qqeasonchen opened #280 "Refactor 'eventmesh-runtime' package name to org.apache"

[2021-04-19 08:40] qqeasonchen opened #281 "Refactor 'eventmesh-sdk-java' package name to org.apache"

[2021-04-19 08:40] qqeasonchen opened #282 "Refactor 'eventmesh-starter' package name to org.apache"

[2021-04-19 08:41] qqeasonchen opened #283 "Refactor 'eventmesh-test' package name to org.apache"

[2021-04-19 08:44] liangyuanpeng commented on #280
I will resolve this issue, thanks.

[2021-04-19 08:47] yiliuchen commented on #282
i will solve it

[2021-04-19 08:53] sunxi92 commented on #279
I will solve it

[2021-04-19 08:54] keranbingaa commented on #277
I will resolve this issue

[2021-04-19 08:55] surilli commented on #283
I'll solve this.

[2021-04-19 08:58] udesh commented on #278
I would like to contribute.

[2021-04-19 09:07] qqeasonchen commented on #283
@surilli welcome, just requet a PR please.

[2021-04-19 09:07] qqeasonchen commented on #282
@yiliuchen welcome, just requet a PR please.

[2021-04-19 09:07] qqeasonchen commented on #280
@liangyuanpeng welcome, just requet a PR please.

[2021-04-19 09:08] qqeasonchen commented on #279
@sunxi92 welcome, just requet a PR please.

[2021-04-19 09:08] qqeasonchen commented on #278
@udesh welcome, just requet a PR please.

[2021-04-19 09:08] qqeasonchen commented on #277
@keranbingaa welcome, just requet a PR please.

[2021-04-19 09:46] zhangxiaopengmm commented on #281
I'll take this

[2021-04-19 09:48] qqeasonchen commented on #281
@zhangxiaopengmm welcome, just requet a PR please.

[2021-04-20 01:42] chenmudu commented on #263
It looks good. I'd be happy to do it. It just so happens that I've been working in this area.

[2021-04-20 01:56] qqeasonchen commented on #263
@chenmudu welcome to contirbute~

[2021-04-20 02:58] vongosling opened #290 "Due Diligence for EventMesh"
## Due Diligence
EventMesh is a dynamic cloud-native eventing infrastruture used to decouple the application and backend middleware layer, which supports a wide range of use cases that encompass complex multi-cloud, widely distributed topologies using diverse technology stacks. In order to better understand the use of the EventMesh and continue to optimize it. Here, we sincerely invite you to take

[2021-04-20 03:02] vongosling commented on #290
- Organization: Google
- Location: Silicon Valley, USA
- Contact: luvo2@gmail.com
- Version: v1.1.0
- usage scenario: Comparing with other mesh solutions, about realtime and stability to capable doing realtime notification, realtime streams, parallelism process over microservices and db replications.

[2021-04-20 03:16] qqeasonchen commented on #290
Organization: WeBank
Location: Shenzhen, Guangdong
Contact: chenguangsheng@apache.org
Version: v1.1.0
usage scenario: Distributed financial-level message bus, used in massive financial transaction scenarios to facilitate the access of various language systems.

[2021-04-20 06:21] qqeasonchen commented on #280
@liangyuanpeng Can we request the pr now? we need to release soon.

[2021-04-20 06:22] qqeasonchen commented on #281
@zhangxiaopengmm Can we request the pr now? we need to release soon.

[2021-04-20 06:22] qqeasonchen commented on #283
@surilli Can we request the pr now？ we need to release soon.

[2021-04-20 07:12] jonyangx opened #292 "MeshMQProducer.getDefaultTopicRouteInfoFromNameServer suggests return TopicRoute Object"
MeshMQProducer.getDefaultTopicRouteInfoFromNameServer return value is Void,suggests it to return TopicRoute information.

[2021-04-20 07:46] xwm1992 opened #293 "Lack of licenses in each source file under the eventmesh-connector-api module"
If we want to publish under the apache, we need to add licenses to each source file. You can do this refer to https://creadur.apache.org/rat/apache-rat/index.html

[2021-04-20 07:57] xwm1992 opened #294 "Lack of licenses in each source file under the eventmesh-connector-rocketmq module"
If we want to publish under the apache, we need to add licenses to each source file. You can do this refer to https://creadur.apache.org/rat/apache-rat/index.html

[2021-04-20 07:58] xwm1992 opened #295 "Lack of licenses in each source file under the eventmesh-runtime module"
If we want to publish under the apache, we need to add licenses to each source file. You can do this refer to https://creadur.apache.org/rat/apache-rat/index.html

[2021-04-20 08:00] xwm1992 opened #296 "Lack of licenses in each source file under the eventmesh-sdk-java module"
If we want to publish under the apache, we need to add licenses to each source file. You can do this refer to https://creadur.apache.org/rat/apache-rat/index.html

[2021-04-20 08:02] xwm1992 opened #297 "Lack of licenses in each source file under the eventmesh-starter module"
If we want to publish under the apache, we need to add licenses to each source file. You can do this refer to https://creadur.apache.org/rat/apache-rat/index.html

[2021-04-20 08:04] xwm1992 opened #298 "Lack of licenses in each source file under the eventmesh-test module"
If we want to publish under the apache, we need to add licenses to each source file. You can do this refer to https://creadur.apache.org/rat/apache-rat/index.html

[2021-04-20 08:05] justinmclean commented on #297
Hi,

If you need help with this just ask, I’ve reviewed 100’s and 100’s of releases.

Thanks,
Justin

[2021-04-20 08:06] justinmclean commented on #297
Also see https://apache.org/dev/licensing-howto.html

[2021-04-20 08:17] qqeasonchen commented on #297
@justinmclean Thanks，it would be very appreciated If you can help review.

[2021-04-20 08:27] qqeasonchen commented on #225
@sunxi92 Do you have any other questions?

[2021-04-20 08:28] qqeasonchen commented on #221
@xwm1992 @mattmao0913 Is this fixed now?

[2021-04-20 08:28] surilli commented on #283
ok, right now , i have finished the modification

[2021-04-20 08:51] sunxi92 commented on #225
There are no other questions at the moment.

[2021-04-20 10:28] qqeasonchen commented on #225
ok, i will close it.

[2021-04-20 10:28] #225 closed

[2021-04-20 15:00] liangyuanpeng commented on #280
My bad, Really PR

[2021-04-20 15:06] liangyuanpeng commented on #295
Let me work for it .

[2021-04-21 07:05] #278 closed

[2021-04-21 07:10] #280 closed

[2021-04-21 07:13] kezhenxu94 commented on #295
Hi @xwm1992 and @liangyuanpeng , I hope you'll find [this tool](https://github.com/apache/skywalking-eyes#docker-image) helpful to add license headers into the source files. License eye is a licensing tool to help audit and fix license headers, especially for ASF projects

docker run -it --rm -v $(pwd):/github/workspace apache/skywalking-eyes header fix

[2021-04-21 07:14] #281 closed

[2021-04-21 07:17] kezhenxu94 opened #302 "Add "Incubating" to the project name in docs"
"Incubating" is required to be add after the project name, e.g. "EventMesh (Incubating)" in the doc

[2021-04-21 07:51] chenmudu commented on #263
Yeah, maybe I should familiarize myself with the project. @qqeasonchen

[2021-04-21 08:03] #277 closed

[2021-04-21 08:08] xwm1992 commented on #295
docker run -it --rm -v $(pwd):/github/workspace apache/skywalking-eyes header fix

glad for your help, thank you!

[2021-04-21 08:56] qqeasonchen commented on #302
@kezhenxu94 Good reminder, you can request a pr if you wish, thanks.

[2021-04-21 09:45] #282 closed

[2021-04-21 09:46] #279 closed

[2021-04-21 09:47] #283 closed

[2021-04-21 14:31] liangyuanpeng commented on #295
@kezhenxu94  Cool, It's working.

[2021-04-22 03:22] keranbingaa commented on #296
I will resolve this issue, thx.

[2021-04-22 03:26] xwm1992 opened #304 "Lack Notice file of eventmesh project"
We should add notice file for eventmesh before publish under the ASF.
You can do this refering to https://infra.apache.org/licensing-howto.html#example-notice

[2021-04-22 03:30] yiliuchen commented on #294
i will solve it

[2021-04-22 03:31] iNanos commented on #304
i get it

[2021-04-22 03:34] #295 closed

[2021-04-22 08:39] #304 closed

[2021-04-22 09:11] xwm1992 opened #306 "Modify the package name to org.apache and improve the test cases"
Some package names were left out in the last revision, which is still com.webank.

[2021-04-22 09:11] xwm1992 commented on #306
I'll handle this.

[2021-04-22 09:20] jonyangx commented on #306
I'll handle this

[2021-04-22 10:21] #306 closed

[2021-04-22 12:23] #296 closed

[2021-04-23 01:37] #294 closed

[2021-04-23 01:38] xwm1992 commented on #293
I'll handle this.

[2021-04-23 06:06] liangyuanpeng opened #310 "Add Github Action for check licenses"
We can add Github Action for automatically check licenses and review future pull requests.

This topic was first mentioned in https://github.com/apache/incubator-eventmesh/pull/303#issuecomment-824457253  and i had realy work for it.

Some result you can see https://github.com/liangyuanpeng/incubator-eventmesh/pull/1   .

How can we use github-actions bot robot instead of myself?  Thanks   @kezhen

[2021-04-23 06:11] kezhenxu94 commented on #310
Hi @liangyuanpeng , thanks for your work, I saw that you set a personal token

https://github.com/liangyuanpeng/incubator-eventmesh/blob/ca40d049c6aa5584f07f4aa21febb42d586e3b2a/.github/workflows/maven.yml#L28

which is not necessary and is not allow as per ASF policy, all you need is to do is using the built-in token `${{ secrets.GITHUB_TOKEN }}` like this

https://github.com/apache/skywalking/bl

[2021-04-23 09:32] #293 closed

[2021-04-23 09:43] xwm1992 commented on #298
I‘ll handle this.

[2021-04-25 01:50] #298 closed

[2021-04-25 03:27] #297 closed

[2021-04-25 08:00] #226 closed

[2021-04-25 08:00] #216 closed

[2021-04-25 08:06] #201 closed

[2021-04-25 08:10] #212 closed

[2021-04-25 08:13] #204 closed

[2021-04-25 08:17] #190 closed

[2021-04-25 08:18] #186 closed

[2021-04-25 08:18] #180 closed

[2021-04-25 08:18] #176 closed

[2021-04-25 08:18] #188 closed

[2021-04-25 08:22] #203 closed

[2021-04-25 08:23] #211 closed

[2021-04-26 02:51] xwm1992 opened #317 "travis report gradle check fail, unable build tar.gz package"
![image](https://user-images.githubusercontent.com/13237619/116022598-0df1b800-a67d-11eb-9f03-74ce53e6fc06.png)
travis ci report build fail, please check.

[2021-04-26 02:53] jonyangx commented on #317
I can fix it.

[2021-04-26 07:46] #317 closed

[2021-04-27 21:33] jinrongluo opened #320 "Question about some fields in the EventMesh Client Model"
Hi, I am playing around with EventMesh project and also studying the code of EventMesh runtime compoent.

When studying the Http Consumer Manager code, I am seeing it is using the following Client Model
https://github.com/apache/incubator-eventmesh/blob/develop/eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/core/protocol/http/processor/inf/Client.java

This client model has these fie

[2021-04-27 21:44] jinrongluo opened #321 "Question about EventMesh Topic format"
Hi Dear,

I play around with EventMesh project and also studying the EventMesh codes. I see the RMQ Topic created through EventMesh, the topic name needs to be certain format. For example, "FT0-e-80010000-01-1"

From the code, this method check weather the topic is valid:
https://github.com/apache/incubator-eventmesh/blob/develop/eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/util/Ev

[2021-04-28 02:20] xwm1992 commented on #321
Hi, format validation for event topics may be a bit of a problem for you at the moment. For now, you can create topics in the format FT0-E-80010000-01. Similarly, you can create topics such as:FT0-E-80010001-01, it should be noted that **e in the event topic** and **the fourth position of 80010001 is 1**  . We will remove the verification of this part later and provide relevant guidance. Thank you

[2021-04-28 02:34] SteveYurongSu opened #322 "Rename package name "com.webank.eventmesh" to "org.apache.eventmesh""
There are still some "com.webank.eventmesh" fields in this repo.

[2021-04-28 07:31] #322 closed

[2021-04-28 07:31] SteveYurongSu commented on #322
Fixed.

[2021-04-28 14:15] jinrongluo commented on #321
Thanks for your answer.

[2021-04-28 14:15] #321 closed

[2021-04-29 02:14] vongosling opened #323 "QuickStart is not quick"
When a newbie reaches to EventMesh,  it is difficult to quick start from the scratch. I would like to be a such man to try to experience the optimized document. Please opt here:-)

[2021-04-29 03:25] #302 closed

[2021-04-29 07:31] lrhkobe commented on #320
- env: the enviroment of client, which is used to distinguish different enviroments, such as production environment ，test environment  and development environment;
- dcn: the logical concept, the Data Center Node of client comes from, when the num of client up to the capacity of DCN,  another new DCN will be created for the new client;
- idc: the physical machine room of client comes from;
- sys:

[2021-04-29 14:01] jinrongluo commented on #320
Thanks for explanation.

[2021-04-29 14:01] #320 closed

[2021-04-30 07:01] xwm1992 opened #325 "Update gradle configuration for publishing package to maven repository"
prepare for releasing v1.2.0 version

[2021-04-30 07:44] #325 closed

[2021-04-30 09:19] vongosling commented on #274
Spring Cloud Stream may be a optional extension for native eventmesh sdks

[2021-04-30 09:25] vongosling commented on #275
Similar to https://github.com/apache/incubator-eventmesh/issues/274

[2021-04-30 09:25] #275 closed

[2021-05-05 06:06] ruanwenjun opened #328 "Doc modification"
When I start the service according to the [doc](https://github.com/apache/incubator-eventmesh/blob/develop/docs/en/instructions/eventmesh-runtime-quickstart.md)
![image](https://user-images.githubusercontent.com/22415594/117101738-75101a80-ada9-11eb-9030-4cbd3e1632e5.png)
There will throw an exception
[code]
It seems the `eventmesh.properties` doesn't been load. I try to modify it to below, this c

[2021-05-05 06:12] ruanwenjun opened #329 "Missing Log4j dependency"
The `log4j2.xml` can't work, this may due to missing  dependencies.
https://logging.apache.org/log4j/2.x/maven-artifacts.html

[2021-05-06 02:02] xwm1992 commented on #328
Where did you config this vm configuration for **StartUp Class** or  others?

[2021-05-06 02:20] xwm1992 commented on #329
Well，we have already configured the log4j2 under the build.gradle file

[2021-05-06 02:26] ruanwenjun commented on #328
@xwm1992 `StartUp Class`

[2021-05-06 02:28] ruanwenjun commented on #329
@xwm1992 Great

[2021-05-07 12:57] SteveYurongSu opened #331 "Fix dead links in docs"
I found some dead links in docs when I was playing around with EventMesh.

I will fix them. :D

[2021-05-08 02:19] ruanwenjun opened #333 "Support multiple load balance strategy in sdk"
Currently, the `selectEventMesh` method use a random strategy to select the server host, sometimes you may wish to use other strategy such like `Round robin` or `Weighted round robin`

[2021-05-08 02:51] qqeasonchen commented on #333
@ruanwenjun good suggestions, you can send your propasal to dev mail and have a discussion first.

[2021-05-08 02:52] qqeasonchen commented on #331
@SteveYurongSu welcome :)

[2021-05-10 12:01] ruanwenjun commented on #329
@xwm1992 Sorry, I still can't find the log4j2 in build.gradle

[2021-05-10 12:07] xwm1992 commented on #329
yes, I get this problem too， the log4j2 dependency was missed by others pull request merged. I'll handle this problem

[2021-05-10 12:25] #329 closed

[2021-05-10 12:38] #331 closed

[2021-05-10 20:42] jinrongluo opened #337 "Http.demo Subscriber is not working in EventMesh-test project"
Http.demo Http Subscriber (SubService) is not working.  When the Async Http Producer (AsyncPublishInstance)  publishes a message to EventMesh runtime, This Subscriber is not able to consume it.

Steps to reproduce this issue in JAVA IDE Intellij:

1.  Import eventmesh project to Intellij and build the project.

2. Start up EventMesh runtime from eventmesh-starter project's  StartUp class

3. Start

[2021-05-10 21:40] jinrongluo commented on #337
I have a fix for this issue, the PR is here

https://github.com/apache/incubator-eventmesh/pull/338

[2021-05-11 02:39] qqeasonchen opened #339 "[Feature] Integrate With OpenSchema"
option 1. reference openmessage
https://github.com/openmessaging/openschema/issues/1
https://github.com/openmessaging/openschema/blob/master/spec.md

[2021-05-11 02:42] vongosling opened #340 "[Feature] Integrate With OpenTelemetry"
OpenTelemetry is a collection of tools, APIs, and SDKs. You can use it to instrument, generate, collect, and export telemetry data (metrics, logs, and traces) for analysis in order to understand your software's performance and behavior. I think it's time to integrate the EventMesh with it now since OpenTracing and OpenCensus have been integrated into one. In this summer, you are supposed to finish

[2021-05-11 03:09] qqeasonchen opened #341 "Supplement documents, optimize the website"
The current project website is not perfect and lacks documentation. We hope to complete the following tasks:
1. Beautify the website
2. Supplementary design and use documents

the website resource is here
https://github.com/apache/incubator-eventmesh-site

[2021-05-11 03:34] xwm1992 commented on #337
@jinrongluo Please refer to the modification suggestion of vongosling and put forward another pull request to modify this problem, thank you

[2021-05-11 16:15] jinrongluo commented on #337
Hi @xwm1992 I have created new PR to address the comment above. Thanks.

PR - https://github.com/apache/incubator-eventmesh/pull/343

[2021-05-11 18:24] jinrongluo opened #344 "Racing Condition Observed after multiple subscribe / unsubscribe calls"
I am testing the  Http LiteConsumer of EventMesh using Eventmesh-Test project.

**Problem Description**

I modify the ` org.apache.eventmesh.http.demo.sub.service.SubService.java ` to perform a serial of Subscribe / unsubscribe operations, as the following:

[code]

I start the org.apache.eventmesh.http.demo.sub.SpringBootDemoApplication.java for the testing. During the SubService run, I observe t

[2021-05-12 16:34] jinrongluo opened #346 "How EventMesh offers Administrative API to manage Topic of the eventstore"
I would like to know if there is a plan to add administrative APIs in the EventMesh project, to support Message Topic management. This APIs include create Topic in eventstore (such as RocketMQ), and remove topic, Clear messages inside the Topic.

[2021-05-12 16:40] qqeasonchen commented on #346
Currently you can use rocketmq-tools, a dashboard is on schedule.

[2021-05-12 16:48] ewcchan commented on #346
Hi, will it be done via the eventmesh-connector-api programming model?

[2021-05-12 16:53] qqeasonchen commented on #346
Admin api abstraction is a good choice.

[2021-05-12 17:46] jinrongluo commented on #346
Would the community add this Topic Admin API support to EventMesh project? Thanks.

[2021-05-13 03:46] SteveYurongSu opened #348 "Setup automated workflows for greetings"
By setuping the GitHub Greetings workflow, we can:

1. Accurately identify new users and contributors

2. Encourage new users and contributors

2. Attract new users and contributors to the WeChat Group and our mailing lists

[2021-05-13 13:18] jinrongluo opened #349 "Suggestion of Event Subscription management and persistence"
Right now EventMesh Runtime store the HTTP Publisher-Subscriber subscriptions in a local Map, such as, `EventMeshHTTPServer.localClientInfoMapping`,  `EventMeshHTTPServer.localClientInfoMapping`, `ComsumerManager.consumerTable` etc.

We need to keep the subscriptions in local Map for caching and performance. However we don't have a persistent storage to keep this records. In the case of server res

[2021-05-14 03:17] xwm1992 commented on #344
@jinrongluo Well, I try to recurring your problem,after use your pull request here still have the problem below.
[code]
this NullPointerException problem occured when **EventMeshConsumer init()** use the **HTTPMessageHandler the code line 63** cause the exception. https://github.com/apache/incubator-eventmesh/blob/develop/eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/core/protocol/h

[2021-05-14 03:30] #337 closed

[2021-05-14 10:12] lrhkobe opened #350 "Flow control can not work well between EventMesh-Connector-to-EventMesh-Runtime and EventMesh-Runtime-to-EventMesh-Client"
If we use Rocketmq-Connector,
EventMesh-Connector(RocketMQ) --> EventMesh-Runtime:
flow control config is `eventMesh.server.rocketmq.client.ackwindow`, and the config is setted before the consumer started;

EventMesh-Runtime --> EventMesh-Client:
flow control config is `eventMesh.server.session.downstreamUnackSize`，the num of client in different group may be different ;

The problem is  the ackwin

[2021-05-14 13:35] jinrongluo commented on #344
Thanks @xwm1992 I will take a look and fix it in next commit.

[2021-05-14 20:31] jinrongluo commented on #344
@xwm1992 please take a look at the new commits to the PR attached. Thanks.

[2021-05-15 04:58] vongosling commented on #349
This is a very correct direction. Could you help to detail your idea, such as extract the API and make runtime pluggable?

[2021-05-15 13:34] lrhkobe commented on #349
Thank you for your question.

In case of  Eventmesh Runtime Server restart,  the server will disconnect all the client connected to this server, in the same time, it will manage the subscription,clear all the subscription.

As to EventMeshTcpServer, the necessary process of client conncting to Eventmesh Runtime is as follows:

- send the command of `HELLO_REQUEST`  to EventMesh Runtime for creatin

[2021-05-15 13:43] lrhkobe opened #351 "rechoose session may be same with previous choosed session in EventMeshTcpRetryer.retryHandle"

[2021-05-15 14:48] #348 closed

[2021-05-15 15:01] jinrongluo commented on #349
Thanks @vongosling and @lrhkobe for your comments.

Our use case is that we use EventMesh's HTTP protocol for PubSub, and we don't want the clients to react to the event of EventMesh Server restart. In other words, we would like EventMesh to recover the existing subscriptions after it restarts. This event is transparent to clients.

This is an important design requirement in cloud native productio

[2021-05-15 15:12] jinrongluo commented on #349
We can further extend the persistent module and rest admin module to manage Topics. This is related to my issue #346

For example at the persist-api module:

[code]

At the rest module, we offer this RESTful API:

[code]

[2021-05-16 16:04] SteveYurongSu opened #353 "Add LGTM Badges"
LGTM is a variant analysis platform that automatically checks code for real CVEs and vulnerabilities. Learn more at https://lgtm.com/help/lgtm/about-lgtm .

Here are some alerts in our project reported by LGTM: https://lgtm.com/projects/g/apache/incubator-eventmesh/alerts/?mode=list

I'd like to add LGTM badges in the README.md, it makes easier for people who want to get alerts and then contribute

[2021-05-17 03:06] SteveYurongSu opened #355 "Setup Github workflows for CodeQL scans"
About code scanning:

See more at: https://docs.github.com/en/code-security/secure-coding/about-code-scanning

[2021-05-17 03:16] lrhkobe commented on #351
When EventMesh Runtime downstreaming msg to EventMesh Client failed, the msg will be put in retry queue in `EventMeshTcpRetryer.java`, and the retry-thread will rechoose one client downstreaming the msg. It is possible to rechoose the previous client which is downstremed fail.

[2021-05-17 03:23] qqeasonchen commented on #349
@lrhkobe Can you show us the method to get the subscriptions about TCP protocol?

[2021-05-17 03:48] qqeasonchen commented on #355
Will this cause the every build slow or hard to pass?

[2021-05-17 03:50] qqeasonchen commented on #353
Seems interesting.

[2021-05-17 03:55] #353 closed

[2021-05-17 04:37] SteveYurongSu commented on #355
No. First of all this will not have any effect on local builds and this scan will only trigger when a new PR is submitted.
Currently each code scan takes about 7 minutes, which is only about a minute longer than Travis CI builds.
Considering that these builds are running at the same time, actually checks for each PR will only take about 2 minutes longer after the code scan is introduced.

Code sca

[2021-05-17 06:11] lrhkobe commented on #349
About TCP protocol, we can get the subscriptions  by script `session.sh` in  directory of `EventMesh\eventmesh-runtime\scripts`.

[2021-05-17 10:56] qqeasonchen commented on #349
This feature will be considered with AdminAPI together in v1.3.0.

[2021-05-17 10:59] qqeasonchen commented on #346
@jinrongluo You can commit your proposal and let's have a discussion first about the AdminAPI if you wish. thanks.

[2021-05-17 11:00] qqeasonchen commented on #355
What is the differences between CodeQL and Travis CI about code scan ?

[2021-05-17 13:03] SteveYurongSu commented on #355
They scan and check our code from very different aspects.

Normally we build our project and run ITs/UTs on Travis CI to check the correctness of the "business logic", but for the security vulnerabilities and coding errors covered or not covered by the UTs/ITs, Travis CI can't do nothing.

CodeQL is professional at potential security vulnerabilities and coding errors finding and it can automatical

[2021-05-17 14:02] jinrongluo commented on #346
hi @qqeasonchen  I discuss this a little bit on another issue #349

The Topic mgmt REST API looks similar to the following. But the challenging is that the event_store layer, (i.e. RockeMQ) is not offering Topic creation/deletion API programmatically.

[code]

[2021-05-18 08:46] qqeasonchen commented on #346
@jinrongluo I mentioned, we can define it in a sub moudle like eventmesh-admin-api , you can design it and discuss online together, thanks.

[2021-05-18 08:57] #355 closed

[2021-05-18 13:43] jinrongluo commented on #346
Cool @qqeasonchen Let me start the design of this part, and update this issue later. Thanks.

[2021-05-19 02:04] #344 closed

[2021-05-19 13:51] ruanwenjun opened #359 "Split handler form ClientManageController"
Split handler from controller, make the controller code more concise, and it is convenient to write unit test.

[2021-05-20 07:53] qqeasonchen commented on #359
Just for UT?

[2021-05-20 08:21] ruanwenjun commented on #359
@qqeasonchen I think it can also make the controller cleaner, if we need to add new handler in the future, we don't want to write it in the controller, because if we do this, the controller will become a huge class.

[2021-05-20 09:49] lrhkobe commented on #359
@ruanwenjun I think it is unnecessary to split the controller,because the cotroller is just as a tool class ,not associcatesd with business, and it's function may be  certain.Split it may lead to an increase in the number of classes and system complexity.
About it is more convenient to write unit test? I have not got it,, can you make it clear?

[2021-05-20 11:35] ruanwenjun commented on #359
@lrhkobe Maybe you are right, if you are sure that this change is not necessary, you can close this issue, thanks.

[2021-05-20 11:44] qqeasonchen commented on #359
@ruanwenjun Your idea is good, discuss is open.

[2021-05-20 12:05] lrhkobe commented on #359
@ruanwenjun Can you offer some unit test demo which is mentioned in this issue？

[2021-05-20 12:06] qqeasonchen commented on #346
@jinrongluo you can watch ClientManageController.java together when you design.

[2021-05-20 12:20] #333 closed

[2021-05-20 12:33] qqeasonchen opened #361 "Award-winning essay on EDA"
Hello everyone, we are preparing to organize an award-winning essay on EDA in the community. The theme of the essay will be around any field related to the event.
The activity will allow you to exchange information with like-minded people who are interested in this field, including and not limited to
1. events, event-driven features.
2. application scenarios of EventMesh.
3. problems to be solved

[2021-05-20 14:00] jinrongluo commented on #346
Sure. Thanks @qqeasonchen

[2021-05-20 15:16] ruanwenjun commented on #359
@lrhkobe Ok, I have written a simple unit test.
![image](https://user-images.githubusercontent.com/22415594/119003604-6ee08780-b9c0-11eb-82eb-76166f07093d.png)
This code just tests one simple case, in each handler, there may be multiple cases that need to be tested.
I think if We test all handlers in one controller class, this may make the controller class very complicated.

[2021-05-24 02:58] ruanwenjun commented on #199
@xwm1992 Does any guys work for this issue, if there is no one, I will try to implement the Kafka connector.

[2021-05-24 03:09] ruanwenjun commented on #274
@qqeasonchen Do we need to support all three? Maybe I can try to solve to integrate with Spring.

[2021-05-24 03:15] xwm1992 commented on #199
@ruanwenjun no one has dealt with this issue yet, you are welcome to deal with it , looking forward your pull request.
you may create a new branch for version 1.3.0 to complete this feature is better.

[2021-05-24 07:09] qqeasonchen commented on #274
@ruanwenjun CloudEvents integration maybe the most wanted feature currently, can you do this first if you wish? we can open a discuss online.

[2021-05-24 07:10] qqeasonchen commented on #199
@ruanwenjun welcome to contribute.

[2021-05-24 09:35] SteveYurongSu opened #364 "Migrate CI to Github Actions and enable code coverage report"
I'd like to add a step in CI to evaluate and report the code coverage, and use this as an opportunity to migrate the CI workflow from Travis CI to Github Actions.

Why do I want to migrate the CI workflow from Travis CI to Github Actions?  There are several reasons:

1. The virtual machines that Travis CI provides to public repos to run CI are weaker than that of Github Actions.  We have done some

[2021-05-24 10:06] qqeasonchen commented on #364
@SteveYurongSu Thanks for your suggestion. BTW, do you notice the SOC issue? It is strongly recommended to participate in the soc.

[2021-05-24 10:11] qqeasonchen commented on #310
@liangyuanpeng It is better not to rely on Skywalking, @SteveYurongSu do you have any good suggestions?

[2021-05-24 11:14] kezhenxu94 commented on #310
I’m not sure what you mean by saying “not to rely on skywalking”, this is just a license tool that has nothing to do with runtime dependencies, also, it’s under skywalking as a sub prpject only because it was started by skywalking PMC member.

[2021-05-24 11:14] kezhenxu94 commented on #310
@qqeasonchen what’s your concern here?

[2021-05-24 13:59] SteveYurongSu commented on #310
I think apache/skywalking-eyes is an excellent tool, and we can use it with confidence. It is not only fully functional, but also well integrated with Github Actions, which makes it easy for us to config this excellent tool for our project.

In fact, if I were to make a choice, I would also choose to use apache/skywalking-eyes as our license check tool, but @liangyuanpeng was one step ahead haha.

[2021-05-25 09:49] ruanwenjun commented on #274
@qqeasonchen I am not familiar with CloudEvents, this work is to covert events to CloudEvents format?

[2021-05-25 10:02] xwm1992 commented on #274
CloudEvents is a standard events protocal, it's sdk  supports converting messages to CloudEvents for transmission.You can get familiar with it refer to https://github.com/cloudevents/spec

[2021-05-25 13:45] SteveYurongSu commented on #364
Hi @qqeasonchen , thanks for inviting me!

I have noticed the soc several days ago. No matter whether I participate in the soc or not, I will choose a feasible issue for me to develop :D

[2021-05-26 01:57] qqeasonchen commented on #364
@SteveYurongSu thanks.

[2021-05-26 07:43] ruanwenjun commented on #274
Thanks, currently, EventMesh transport event by `Package`, do you mean that we need to use the CloudEvents to deliver event?

https://github.com/cloudevents/sdk-java/blob/687e03bac5569bcfae54f24c0da64291d2a77cac/core/src/main/java/io/cloudevents/core/v1/CloudEventV1.java

[2021-05-26 08:19] xwm1992 commented on #274
@ruanwenjun Well，I'm agree delivering the events via CloudEvents. As for **sdk** side , you can depend on **CloudEvents http basic api** to send events and get response; for **eventmesh server** side, you may implements an custom deserializable interface converting **CloudEvents** to **OpenMessage**. You need to pay attention that not only use CloudEvents to send messages , but also for other task

[2021-05-26 08:29] qqeasonchen commented on #274
We'd better read the spec of CloudEvents first and do a design for EventMesh together. it is useful for widely integration.

[2021-05-26 11:36] #364 closed

[2021-05-26 11:41] qqeasonchen commented on #310
@kezhenxu94 I am not trust Skywalking, in fact Skywalking is a very good APM project, but I just don’t want to bring some instability due to some changes in dependencies, I hope you can understand, thank you very much for your suggestion and thanks for your contribution @liangyuanpeng.

[2021-05-26 11:59] qqeasonchen opened #366 "Clear some legacy concept"
There are still some legacy concept releated to message bus, such as DCN,  "FT0-e-80010000-01-1", DeFiBus, WeMQ etc, which shoud be updated.

[2021-05-26 12:01] qqeasonchen opened #367 "[Enhancement] Enhance SPI plugins"

[2021-05-26 13:22] kezhenxu94 commented on #310
Definitely, I understand. It's reasonable for you to take care of the stability of this project, if I were you I would did the same thing :) , and that's why I asked what are your concerns and I was trying to address them, so it turns out to be a misunderstanding, right? You were concerning it will bring runtime dependencies?

[2021-05-26 17:40] jinrongluo opened #368 "Racing Condition problem in EventMesh SDK's LiteConsumer HTTP Client"
EventMesh SDK's Http LiteConsumer is using HttpClient to make a RPC to EventMesh Runtime. But the HttpClient is static and shared by all LiteConsumer instances (as Class variable). There are two problems for using static variable here:

1. when multiple LiteConsumer instances are sharing the same HttClient, when one LiteConsumer shutdown(), the other LiteConsumer cannot make any RPC calls. That's

[2021-05-27 02:26] xwm1992 commented on #310
Yeah, If you can just submit a Github Action for Check Lisence, I think it would be more appropriate and more acceptable by community, thanks.

[2021-05-27 21:17] jinrongluo opened #371 "MQClientException observed during UNSUBSCRIBE"
I am using EventMesh with RocketMQ (v4.8.0) as event-store. I am using EventMesh SDK Http LiteConsumer for subscribe / unsubscribe.

During subscribe process. I observed org.apache.rocketmq.client.exception.MQClientException from EventMesh runtime log.

[code]

[2021-05-27 21:22] jinrongluo commented on #371
From the logs, this MQClientException is coming from RocketMQ Client side.

`[NettyClientPublicExecutor_2] RocketmqClient(Slf4jLoggerFactory.java:130) - execute the pull request exception`

And it happens because thread `NettyClientPublicExecutor_2` is steill sending pull request to the broker while `PullMessageServiceScheduledThread` at the server side has shutdown.

In other words,  NettyClientP

[2021-05-29 04:40] ruanwenjun opened #373 "Upgrade jdk version to 1.8"
jdk=1.7 currently exists in some configurations, do we need to replace it?
https://github.com/apache/incubator-eventmesh/blob/efb2c118de077f82f83011ed13823e2c6f8b35c2/eventmesh-common/gradle.properties#L17-L19

[2021-05-31 01:46] qqeasonchen commented on #373
@ruanwenjun sure, since it is just a configuration, you can set it default to 1.8.

[2021-05-31 02:00] #373 closed

[2021-05-31 02:12] xwm1992 commented on #371
@jinrongluo Well, based on your description, I understand that this error is a normal phenomenon. You are unsubscribing in the consumption process, with the unsubscribe command this will close the channel between the client and broker, so client can't send any pull request to broker. So,what you are hoping for?

[2021-05-31 02:34] iNanos commented on #366
i will solve this

[2021-05-31 02:52] qqeasonchen commented on #366
@iNanos thanks，topic format validation should be removed too.

[2021-05-31 03:20] qqeasonchen opened #374 "Improve code coverage"
It is only 6% currently which can be see here https://app.codecov.io/gh/apache/incubator-eventmesh, need to add unit test.

[2021-05-31 07:39] qqeasonchen opened #375 "[Feature] In memory as event store"
For easy testing on eventmesh runtime only, there may need a in memorty event store.

[2021-05-31 08:13] #368 closed

[2021-05-31 16:25] jinrongluo commented on #371
Thanks @xwm1992 for clarification. I want to know this is expected behaviour. So from your reply, I think we can safely ignore this exception.

[2021-05-31 16:25] #371 closed

[2021-06-01 03:13] vongosling commented on #375
+1, standalone mode.

[2021-06-01 06:24] lrhkobe opened #378 "downstream broadcast msg asynchronously"
When downstreaming broadcast messages, blocking of one client may affect the consumption of other clients.So maybe we can make it asynchronously.

[code]

[2021-06-01 06:52] lrhkobe commented on #350
merge completed

[2021-06-01 06:52] #350 closed

[2021-06-01 07:16] lrhkobe commented on #351
It is unnecessary, because the client will be isolated first, then the msg put in retry queue.
And the process of selecting client in downstreaming msg will filter the isolated clients if there are other normal clients.

[2021-06-01 07:16] #351 closed

[2021-06-01 09:24] SteveYurongSu opened #380 "Remove `gitee-mirror.yml` from Github workflows"
I think we should remove the `gitee-mirror.yml` from workflows because it uses actions that are not allowed by the Apache.

![image](https://user-images.githubusercontent.com/30497621/120299937-0f5a7400-c2fe-11eb-9bd3-ac0d53a2c727.png)

![image](https://user-images.githubusercontent.com/30497621/120299982-1b463600-c2fe-11eb-8da5-a128a54d70bd.png)

[2021-06-01 09:51] qqeasonchen commented on #380
good suggestion, thanks.

[2021-06-01 10:24] #380 closed

[2021-06-02 04:50] #310 closed

[2021-06-07 21:44] jinrongluo opened #382 "java.lang.NumberFormatException when parsing Long"
There are several places in the code which invoking Long.ParseLong() without checking the existence of the Long argument. this will be causing the following exception in the logs

[code]

[2021-06-08 02:11] xwm1992 commented on #199
@ruanwenjun   此处测试，有相关异常信息输出。
![image](https://user-images.githubusercontent.com/13237619/121111546-a618ba80-c841-11eb-929b-7804cf26d0e9.png)

[2021-06-08 12:08] xwm1992 commented on #199
Ok, I will have a full test for your pull request by using kafka connector pub/sub messages.

[2021-06-08 15:33] jinrongluo commented on #382
Thanks @xwm1992 . I have another commit to fix the Integer.parseInt() related issue. I think I catch all in this PR.

[2021-06-09 02:37] #382 closed

[2021-06-09 14:35] ewcchan commented on #366
+1 . Thanks for the clean up effort on the legacy attributes. appreciate!

[2021-06-10 10:15] #378 closed

[2021-06-10 10:17] #359 closed

[2021-06-12 04:33] TrumanDu commented on #375
+1

[2021-06-14 12:49] SteveYurongSu opened #384 "RedirectClientByIpPortHandlerTest.java doesn't have the Apache license header"
It was introduced by PR #360 .

See: https://github.com/apache/incubator-eventmesh/runs/2792436123

![image](https://user-images.githubusercontent.com/30497621/121894729-0c29a400-cd52-11eb-8441-4289896d1162.png)

[2021-06-14 13:28] jinrongluo opened #386 "ConsumerGroup Queue Offset is not synced up correctly after PullConsumer has consumer all the messages in the topic"
When subscribing to a RocketMQ consumer group, EventMesh runtime didn't update the Queue Consumer Offset properly. This is causing the RocketMQ Queue Consumer Offset is not in sync with the actual number of messages already consumed.

After the EventMesh runtime restarted, the already consumed messages get pushed again to the Client Subscribers. This is causing duplicated messages being consumed.

[2021-06-14 14:35] jinrongluo commented on #386
Root Cause Analysis:

After studying EventMesh code and debug logs, I found out a racing condition and class variable sharing issue in eventmesh-connector-rocketmq module.

 In `org.apache.eventmesh.connector.rocketmq.consumer.PushConsumerImpl.java` Every new message being consumed, it will set the message's context into `PushConsumerImpl.context` variable

https://github.com/apache/incubator-even

[2021-06-15 02:24] #384 closed

[2021-06-15 02:42] xwm1992 commented on #386
@jinrongluo Thank you for this pull request, we have recognizied the **AsyncContext** causing the offset deviation problem, we will have a review for this pull request, thanks.

[2021-06-15 07:01] jjz921024 opened #389 "Could we support Redis?"
Hi, all

Do we have any plans to support redis as event store?

Maybe we can use Pub/Sub of redis to spread event between different nodes

In addition event store, there are else use case in EventMesh?

[2021-06-15 07:10] qqeasonchen commented on #389
good suggestion

[2021-06-17 06:31] lrhkobe opened #391 "Optimize interface design in eventmesh-connector-api"
- Optimization for 'MeshMQProducer'

- Optimization for 'MeshMQPushConsumer'

[2021-06-21 07:40] #366 closed

[2021-06-21 11:57] keranbingaa opened #393 "The topic name in test file is long and obscure"
Maybe we can use clear topic name

[2021-06-21 12:37] #391 closed

[2021-06-22 12:45] #393 closed

[2021-06-22 19:48] jinrongluo commented on #386
PR is merged, close issue.

[2021-06-22 19:48] #386 closed

[2021-06-23 14:15] yzhao244 commented on #339
I am a user of eventmesh and I'm extremely interested in contributing to this project. I will go through the project related to EventMesh Schema Registry implementation which integrates with OpenSchema.
I will follow them and get back to the community for further discussions.

[2021-06-23 16:07] jinrongluo commented on #339
OpenSchema spec preview is released here:

https://github.com/openmessaging/openschema/blob/master/spec.md

[2021-06-24 02:07] qqeasonchen commented on #339
welcome and looking forward to your contributions.

[2021-06-25 09:17] xwm1992 opened #397 "Remove subscription session failed error"
![image](https://user-images.githubusercontent.com/13237619/123400494-663f2a80-d5d8-11eb-8897-03f3bb9185df.png)
I tried to disconnect the sdk client from the server in an exception scenario, when the eventmesh server try to remove the subscription session, got the above error.

[2021-06-25 10:31] #397 closed

[2021-06-28 17:03] yzhao244 commented on #339
What is the question:

I am attempting a design which integrates with OpenSchema and is also easy to extend.

What would you like to be added:
I suggest to add two more modules in overall eventmesh projects

1. eventmesh-store-api
  This is a interface module which contains schemas registry persistency APIs such as the followings.
[code]

2. eventmesh-store-h2
   This module contains the actual im

[2021-06-29 03:40] tydhot commented on #340
I'm very interested in this. Maybe I can help

[2021-06-29 07:03] xwm1992 opened #405 "[Task List] Looking for Code Hero for Apache EventMesh"
Welcome to participate bello tasks:
- [ ] [Easy to fix]https://github.com/apache/incubator-eventmesh/issues/579
- [ ] [Feature]https://github.com/apache/incubator-eventmesh/issues/417
- [ ] [Feature]https://github.com/apache/incubator-eventmesh/issues/553
- [ ] [Feature]https://github.com/apache/incubator-eventmesh/issues/676
- [ ] [Feature]https://github.com/apache/incubator-eventmesh/issues/577

[2021-06-30 03:19] SteveYurongSu opened #406 "Github Actions: Resource not accessible by integration"
![image](https://user-images.githubusercontent.com/30497621/123896729-aade1380-d994-11eb-8e90-326c1100206b.png)

It was also mentioned in #404.

I found some resources about it, which might be useful.
* actions/first-interaction#10
* https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/
* https://docs.github.com/cn/actions/reference/events-that-trigger-wor

[2021-06-30 03:20] SteveYurongSu commented on #406
I will fix it.

[2021-06-30 03:27] xwm1992 commented on #406
thanks @SteveYurongSu #402 also have this problem.

[2021-06-30 07:59] qqeasonchen commented on #340
@tydhot welcome and looking forward to your contirbutes. thanks.

[2021-06-30 08:39] SteveYurongSu opened #411 "Enable CI workflows running on `[0-9]+.[0-9]+.[0-9]+**` branches"
Some references:
* https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestbranchestags
* https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet

[2021-06-30 08:41] SteveYurongSu commented on #411
The pattern `[0-9]+.[0-9]+.[0-9]+**` can match:
- 1.2.0
- 1.2.0-release
- 1.3.0
- ...

[2021-06-30 15:06] SteveYurongSu commented on #406
You may ask "Is it safe to change `pull request` to `pull request target`?"

Please see [github-actions-preventing-pwn-requests](https://securitylab.github.com/research/github-actions-preventing-pwn-requests/).

The greetings workflow simply requires commenting on the PR, but does not require a check out of the modified code. SO, I think it's safe to change `pull request` to `pull request target`.

[2021-07-01 02:08] #411 closed

[2021-07-01 07:08] qqeasonchen commented on #339
@yzhao244 This store here better differ from event-store in connector, what do you think?

[2021-07-03 07:55] #406 closed

[2021-07-04 16:12] SteveYurongSu commented on #389
Hi, is there anyone working on this issue?
If there is no one, I'd like to work on it :D

[2021-07-04 17:00] msdhinesh-geek opened #415 "What is Apache Event Mesh"
Hi All,
I have been following Apache Event Mesh for couple of months, its seems interesting to me, Even though am not able to find where it can fit to resolve real time problem.
As per my understanding, Event Mesh is a event-driven architecture framework used to create distributed asynchronous event processing application(like micro services etc , one of example as per my understanding).
Following

[2021-07-05 00:18] jjz921024 commented on #389
hi, i am working on this issue, but not finish. I will creatr pull request. could you help me review the code？

[2021-07-05 02:10] jjz921024 commented on #389
Also, Could we use [Redis Streams](https://redis.io/topics/streams-intro) instead of Pub/Sub, because it's more like a MQ.

or maybe exist two way to connect redis in the meanwhile, switch by SPI

[2021-07-05 02:11] qqeasonchen commented on #415
@msdhinesh-geek hi，glad to see you are intrested in eventmesh, here is the introduction https://thestack.technology/apache-event-mesh, eventmesh positioned between the application and envoy as a multi-runtime https://github.com/apache/incubator-eventmesh#what-is-eventmesh , welcome to contribue.

[2021-07-05 02:15] qqeasonchen opened #417 "A lightable full-featured polyglot capability support"
gRPC is a modern open source high performance Remote Procedure Call (RPC) framework that can run in any environment. It can automatically generate idiomatic client and server stubs for your service in a variety of languages and platforms,which can help eventmesh to supports as many client languages as gRPC do (Java, Go, C++, Python, etc...).
here is the link :
https://github.com/grpc/grpc-java/tre

[2021-07-05 02:45] SteveYurongSu commented on #389
Sure! it's a good chance for me to learn from you!

+1. Using Redis Streams is better.

[2021-07-05 02:51] ruanwenjun opened #418 "Refactor the plugin load code"
Right now, if we want to specify a connector plugin, we need to modify the build.gradle file and rebuild the project. This should be configurable by properties file.

[2021-07-05 05:58] msdhinesh-geek commented on #415
@qqeasonchen  Hi, As per reference my understanding was right :-). Let me know what are the upcoming feature for Event Mesh release, I like to contribute.

[2021-07-05 06:02] msdhinesh-geek commented on #417
@qqeasonchen , I like to involve this feature , let me come up with analysis for further discussion.

[2021-07-05 08:17] qqeasonchen commented on #417
@msdhinesh-geek sure ok.

[2021-07-05 08:21] qqeasonchen commented on #415
@msdhinesh-geek https://github.com/apache/incubator-eventmesh/issues/274 is the highest priority, you can work on CloudEvents or Event Streaming if you like.

[2021-07-05 08:27] xwm1992 commented on #367
- #418
@ruanwenjun we can discuss this issue at here

[2021-07-05 08:37] qqeasonchen commented on #389
@jjz921024 @SteveYurongSu Streaming is a good feature, you can define the interface in connector-api.

[2021-07-05 08:48] qqeasonchen commented on #349
@jinrongluo Would you like to share some new desgin with us if you like ?

[2021-07-05 08:51] qqeasonchen commented on #339
@yzhao244 Would you like to share some new designs for us? thanks.

[2021-07-05 12:51] msdhinesh-geek commented on #274
Hi Eventmesh Team,
Is anyone working on design for CloudEvents and EventStreaming. What is plan ,timeline and roadmap ?
I see most of Event Mesh feature didn't have design and implementation discussion. It will be good if we track and communicate each progress.
Kindly share your thoughts.

[2021-07-05 12:53] yuzhoumao commented on #274
Hi @msdhinesh-geek,

I am working on the design as part of the summer of code 2021 program. A design doc will be sent to dev@eventmesh.incubator.apache.org within the next couple of days.

[2021-07-05 12:58] msdhinesh-geek commented on #274
@yuzhoumao Are you working on both feature  CloudEvents and EventStreaming?

[2021-07-05 13:02] yuzhoumao commented on #274
I am working on CloudEvents integration.

[2021-07-05 13:08] msdhinesh-geek commented on #274
Ok, Then i will look into Event Streaming

[2021-07-05 14:10] jinrongluo commented on #349
The new design is to introduce three new modules in the EventMesh project.

1. **eventmesh-rest** module. This module is to refactor the eventmesh runtime -> admin code into a separate new module. We can add more admin REST APIs into this module.  /subscriptions  API will be in this new module

/topics API will be add to this module too. As for implementation, It can invoke RocketMQ's ./mqadmin co

[2021-07-05 14:11] jinrongluo commented on #349
When time permitted I will provide reference implementation and submit a PR for review. Thanks.

[2021-07-05 17:29] yzhao244 commented on #339
Yes, you are right. :) ... maybe name it something like "eventmesh-database-api".. The purpose of this interface module is for introducing an abstraction layer of registry APIs

[2021-07-05 18:38] yzhao244 commented on #339
What is the purpose of the design:

The purpose of the design is for introducing Schema Registry as part of the EventMesh.
The Schema Registry is a central repository with RESTful interfaces for developers to define and register standard schemas. Addresses the problem of different data(event) format of producer and consumer.

What are the features to provide from Schema Registry:

1. Persist and s

[2021-07-06 07:58] msdhinesh-geek commented on #274
@qqeasonchen Can you explain functional requirements of Event Streaming

[2021-07-06 08:16] qqeasonchen commented on #274
Spring Cloud Stream may be an optional extension for native EventMesh SDKs. Nowadays, we missed the event routing and event filter features. You can refer to [4][5], thanks.

[4] https://docs.spring.io/spring-cloud-stream/docs/current/reference/html/spring-cloud-stream.html#_event_routing
[5] https://github.com/spring-cloud/spring-cloud-function

[2021-07-06 09:03] xwm1992 commented on #339
Hi @yzhao244 , I have some doubts about this design.
- The interaction between the Schema Registry and the Database is not represented in this figure;
- What is the relationship between **topic** and **schema id**, at present topic store the messages or events, are these represent as data in your figure?
- What kind of data does the database and topic need to store

[2021-07-06 09:11] qqeasonchen commented on #340
@tydhot Would you like to share some new design for us? thanks.

[2021-07-06 09:16] qqeasonchen commented on #349
@jinrongluo sure, this feature can consider with #339 together.

[2021-07-06 09:17] qqeasonchen commented on #346
@jinrongluo this feature relates to #349

[2021-07-06 09:20] qqeasonchen commented on #263
@chenmudu Would you like to share some new design with us? thanks.

[2021-07-06 12:11] qqeasonchen commented on #229
@ewcchan you can take a look at  #274  #276 , about event streaming or workflow integation, you can participate in the design if you like, thanks.

[2021-07-06 13:12] jinrongluo commented on #349
Yes, That's right. Part of the work here can be coming from issue #339. Once #339 is resolved, the three new modules are laid down in the project. I can build on top of it.

Thanks.

[2021-07-07 02:36] tydhot commented on #340
@qqeasonchen hi, maybe you can add my WeChat. My WeChat  id is same as my GitHub id.We can discuss it.

[2021-07-07 03:15] qqeasonchen commented on #340
@tydhot sure.

[2021-07-07 12:04] tydhot opened #422 "failed to compile the project in java11"
<img width="1384" alt="image" src="https://user-images.githubusercontent.com/27889201/124755893-7d7a0280-df5e-11eb-8426-c13bc114c7d5.png">
Here is the error.

[2021-07-07 14:54] msdhinesh-geek commented on #415
Hi All,
Why can't we do following approach to develop Event Mesh, it will be fun and learning too.

1.Community Call
Every two weeks we host a community call to showcase new features, review upcoming milestones, and engage in a Q&A.

2.Videos and Podcasts
We have a variety of keynotes, podcasts, and presentations available to reference and learn from.

[2021-07-07 16:52] yzhao244 commented on #339
@xwm1992 Thanks for the questions. :) . The followings are replies.. Sorry about my drawings are a bit rough. :)

![image](https://user-images.githubusercontent.com/15642771/124796695-74b60c00-df1f-11eb-8869-62d16ec4bcce.png)

 * The interaction between the Schema Registry and the Database is not represented in this figure;
   The database which is H2 In-memory DB in this case persists schemas and

[2021-07-08 03:05] qqeasonchen commented on #415
@msdhinesh-geek thanks for your suggestions, really nice, community call was irregularly scheduled, i will try to push these two forward.

[2021-07-09 03:14] SteveYurongSu opened #425 "Using templates to encourage useful issues and PRs"
This PR provides PULL_REQUEST_TEMPLATE & ISSUE_TEMPLATE.

Github official docs for PULL_REQUEST_TEMPLATE & ISSUE_TEMPLATE: https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/using-templates-to-encourage-useful-issues-and-pull-requests

PULL_REQUEST_TEMPLATE describes our community's specification for submitting PR.

ISSUE_TEMPLATE provides template for issues such a

[2021-07-09 03:22] SteveYurongSu commented on #425
Using PULL_REQUEST_TEMPLATE:

![image](https://user-images.githubusercontent.com/30497621/125018536-e15c1280-e0a7-11eb-9cfa-483282a3236d.png)

[2021-07-09 03:25] SteveYurongSu commented on #425
Using ISSUE_TEMPLATE:

![image](https://user-images.githubusercontent.com/30497621/125018798-62b3a500-e0a8-11eb-96b7-8cd94c3f2138.png)

[2021-07-09 09:11] Jackzeng1224 opened #428 "The Chinese existing in the project was changed to English"
Under these modules, there are some Chinese。To English?
![image](https://user-images.githubusercontent.com/35483870/125054152-7aa31d00-e0d8-11eb-88a1-73b7938e8a97.png)

[2021-07-10 01:29] Roc-00 commented on #428
I can help translate it into English.

[2021-07-10 03:50] ruanwenjun commented on #418
Solved by #421
In the next plan, the plugins will be packaged in separate jars in the future.

[2021-07-10 03:50] #418 closed

[2021-07-11 08:04] SteveYurongSu commented on #425
Hi @qqeasonchen @xwm1992 , is there anything else I need to do for the PR?

[2021-07-12 08:07] qqeasonchen commented on #425
no comments, nice job.

[2021-07-12 08:55] #425 closed

[2021-07-12 08:57] xwm1992 commented on #422
Yes, please use jdk8 to build the project.

[2021-07-12 08:58] xwm1992 commented on #405
- #431

[2021-07-13 01:38] qqeasonchen commented on #274
@msdhinesh-geek do you have any questions that i can help explain?

[2021-07-13 02:38] xwm1992 commented on #415
Hi, @msdhinesh-geek the arrangement of the SIG meeting is here https://github.com/apache/incubator-eventmesh/wiki/EventMesh-SIG-Meeting

[2021-07-13 18:27] yzhao244 commented on #339
Furthermore,  currently, the project does not have a layer which exposes API which follow the REST best practice. I would like to also propose another module something called "eventmesh-rest" which can expose EventMesh Schema Registry APIs by following the OpenSchema restful APIs standards as shown above.

[2021-07-13 18:47] yzhao244 opened #435 "Expose clientmanager/admin APIs as RESTful APIs"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

Yes,  the clientmanager/admin APIs which are exposed from eventmesh-runtime module are not following the best practice of RESTful APIs . The problems could be seen by API urls such as "showClient", "rejectAllClient" ,"redirectClientByPath"

### Describe the solution you'd like

Add a new module such as e

[2021-07-14 01:24] qqeasonchen commented on #435
good suggestions, just go ahead.

[2021-07-14 01:26] qqeasonchen commented on #435
#346 #349 are related to this.

[2021-07-14 03:45] qqeasonchen commented on #339
sure ok.

[2021-07-15 05:03] liutaohua opened #436 "typo errors for runtime package"
fix error in:
`org.apache.eventmesh.common.config.ConfigurationWraper`

`org.apache.eventmesh.connector.rocketmq.config.ConfigurationWraper`

`org.apache.eventmesh.runtime.boot.AbrstractHTTPServer`

`org.apache.eventmesh.runtime.boot.AbstractRemotingServer#initWokerGroup`

`org.apache.eventmesh.runtime.core.protocol.http.retry.HttpRetryer#init`

[2021-07-15 06:08] SteveYurongSu opened #438 "Enable Github Actions for Checkstyle"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

I noticed that there are folks working on issue #428 (#431), translating or removing Chinese chars in code.
Manually checking for this kind of code style can be a pain.
But, we can make the process of code style check automated with less pain by introducing Checkstyle into CI.

### Describe the solution

[2021-07-15 12:45] msdhinesh-geek commented on #274
@qqeasonchen  Am working on following design, that allows us to use the binder abstractions from Spring Cloud Stream natively within Apache Camel.
I choose Camel over Spring-Integration because the fluent API is really nice.

I suggest following module:

1. eventmesh-stream-api - Which will consist of abstractions for streaming, event routing , filtering etc, basically spring cloud stream will tak

[2021-07-15 13:08] qqeasonchen commented on #274
@msdhinesh-geek yes, you can describe your desgin like https://github.com/apache/incubator-eventmesh/blob/develop/docs/en/features/eventmesh-cloudevents-sdk-binding.md .

[2021-07-15 13:48] SteveYurongSu commented on #438
Yes, we can also check our code style in IDE.

![image](https://user-images.githubusercontent.com/30497621/125798875-78b4649a-4a8e-4746-8172-337b42367fbd.png)

[2021-07-15 13:52] SteveYurongSu commented on #438
Hi @qqeasonchen @xwm1992 , my PR is ready, please take a look 😊😊
BTW, This PR may help #428 (#431).

[2021-07-15 14:15] msdhinesh-geek commented on #274
@qqeasonchen  Sure.

[2021-07-16 11:03] #438 closed

[2021-07-17 05:27] SteveYurongSu opened #442 "Fix findings filtered by Checkstyle workflow"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

I introduced CheckStyle workflow in PR #438, but did not fix the issues that Checkstyle found.

### Describe the solution you'd like

I will fix all findings filtered by the Checkstyle workflow.

[2021-07-17 07:51] Hu-Tu-Tu commented on #323
Is there any difference between the development version of eventmesh and the master version? I see that the source code of the master version needs to be used when starting in QuickStart of runtime

[2021-07-18 01:03] qqeasonchen commented on #323
@Hu-Tu-Tu Master is the last release code, usually, develop branch is comleyed.

[2021-07-18 04:59] ruanwenjun opened #444 "[Discuss] Eventmesh code style specification"
## Feature Request
To ensure consistent code style and improve code quality, I think it is necessary to discuss code style specification now.
The specification includes two parts: suggest and mandatory.
The mandatory specification can be written into `codestyle` and `checkstyle` file, only pr meets the mandatory specification can be merged. Suggest specification can be break in sometimes, it's als

[2021-07-18 06:15] #436 closed

[2021-07-18 08:20] Hu-Tu-Tu commented on #323
So I can start the runtime directly with the development version, right？

[2021-07-18 08:22] Hu-Tu-Tu commented on #323
Or it's OK for me to start with any of these versions, right？

[2021-07-18 10:40] qqeasonchen commented on #323
@Hu-Tu-Tu may be some differences of different versions due to feature changes, and the quick start needs to be updated too, Currently 1.2.0 is releasing, so the quick start should follow it.

[2021-07-18 10:43] qqeasonchen commented on #444
Glad to see it, and it is time to Do it now.

[2021-07-18 13:07] Hu-Tu-Tu commented on #323
@qqeasonchen OK，I see

[2021-07-18 13:09] Hu-Tu-Tu commented on #323
@qqeasonchen OK, I see, thanks.

[2021-07-19 04:00] xiaoyang-sde commented on #341
First draft of the website: https://github.com/apache/incubator-eventmesh-site/pull/6

[2021-07-19 05:24] liutaohua opened #446 "Methods that continuously call WeakReference wrapper may throw an NPE"
All methods using `WeakReference` must check whether it is `NULL` after calling `get()`.

![image](https://user-images.githubusercontent.com/7805272/126107175-25e3b61d-3710-453f-b065-224ec6690e84.png)

[2021-07-19 06:06] ruanwenjun commented on #446
Yes, this does happen when the system gc occur, maybe we can use strong reference instead of weak reference.

[2021-07-19 06:13] liutaohua commented on #446
I need to continue to understand the business logic in order to understand the author's intentions.

We can wait for more comments on this question.

[2021-07-19 07:39] tydhot opened #447 "Add otel trace support for tcp request"
eventmesh's http request can be auto traced by otel java instrumentation, but tcp request need us to support ourselves

[2021-07-19 08:31] liutaohua opened #448 "EventMeshTCPServer set unknown channel options"
We can see these `WARN` logs during startup:
[code]

These parameters need to be set to `childOption`. eg.:
[code]

[2021-07-19 08:58] #428 closed

[2021-07-19 08:59] #442 closed

[2021-07-19 09:40] lrhkobe commented on #446
The weak reference of `ClientGroupWrapper`  in `Session.java`  is designed to avoid circular reference.
Because ClientGroupWrapper contains the reference of Session, and  Session contains the reference of ClientGroupWrapper.

You are right. When system GC occurs, weak references will be recycled, but if the strong reference of ClientGroupWrapper also exists, maybe it will not be a problem.

We can

[2021-07-19 09:48] ruanwenjun commented on #447
Currently, there is a partner is implementing trace plugin.

[2021-07-19 22:07] JunjieChou commented on #339
Hi, I'm also interested in schema registry in EventMesh. Thanks for your design and explanations. Now I get that :
- schema represents the format of transferring messages
- the benefit of integrating OpenSchema in EventMesh lies in that consumer could dynamically parsing any message as long as consumer can find schema id in h2 database.

Also, I have some questions:
- in upper design, does EventMe

[2021-07-20 07:44] lrhkobe commented on #448
Yes，you are right. Maybe you can submit a pr to fix it.

[2021-07-20 07:46] liutaohua commented on #448
OK. I'll submit it when I'm free from work

[2021-07-20 09:27] ruanwenjun commented on #339
@yzhao244 Hi, I have a question, the h2 is a memory database, it seems doesn't support distributed, how can the different eventmesh-runtime sync the schema change?

[2021-07-20 11:26] lrhkobe commented on #448
As to the 4 channel options  , do you think it is necessary to change the default value in EventMesh?

[2021-07-20 12:50] qqeasonchen commented on #323
@Hu-Tu-Tu moudle discriptions and project structrue is not right in eventmesh-runtime-quickstart.md , you can change it.

[2021-07-20 13:37] Hu-Tu-Tu commented on #323
@qqeasonchen I see. I'm also writing eventmesh runtime quickstart.md. Now I've written a Chinese description of rocketmq. If I send it to the tutor's email directly, or can I send it to issue directly, I'll discuss with you whether there are ambiguous or inappropriate parts in the document.

[2021-07-20 13:37] liutaohua commented on #448
Frankly, I don't have a systematic understanding of logic. I can't give an accurate reply to what values these parameters are recommended to users. Or what ideas can you put forward?

If I perform better in the stress test, I will remember to give back these values.

[2021-07-21 07:06] qqeasonchen commented on #339
good question, maybe we need to make the schema work flow clear

[2021-07-21 12:09] ruanwenjun opened #451 "SSLContext Initialize error"
Currently, when we initialize the `EventMeshHTTPServer` it will throw an exception
[code]
This caused by we delete the old `sChat2.jks` file, now if user don't set `ssl.server.cer` in env, or they don't add a `sChat2.jks` file to `confPath`, the exception will occur. It is maybe better to add a switch to control whether open SSL.

[2021-07-21 12:17] qqeasonchen commented on #451
:( forget the ssl, update the jks file again, but it is time to add a ssl enable switch.

[2021-07-21 15:09] iPine opened #452 "Quick Start is confusing"
## Documentation Related

- The term ‘Remote Deploy’ in the Quick Start Instruction may be confusing.
The naming of the two deployment methods can be changed to：` 1 Deploy ` & `2 Developer Setup`
- The zip package link may be updated to: https://github.com/apache/incubator-eventmesh/releases
![image](https://user-images.githubusercontent.com/22928321/126513105-b9416233-0d86-4611-b115-f6a1bf0f16b9.

[2021-07-21 17:03] yzhao244 opened #453 "Implement OpenSchema Subject APIs"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

Yes, this issue is a child of parent issue [Integrate OpenSchema with EventMesh](https://github.com/apache/incubator-eventmesh/issues/339). Since this is one of the child issues, the rest of OpenSchema APIs will be implemented by other child issues.

### Describe the solution you'd like

I would like to

[2021-07-21 17:04] yzhao244 opened #454 "Implement OpenSchema Schema APIs"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

Yes, this issue is a child of parent issue [Integrate OpenSchema with EventMesh](https://github.com/apache/incubator-eventmesh/issues/339). Since this is one of the child issues, the rest of OpenSchema APIs will be implemented by other child issues.

### Describe the solution you'd like

I would like to

[2021-07-21 17:05] yzhao244 opened #455 "Implement OpenSchema Compatibility APIs"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

Yes, this issue is a child of parent issue [Integrate OpenSchema with EventMesh](https://github.com/apache/incubator-eventmesh/issues/339). Since this is one of the child issues, the rest of OpenSchema APIs will be implemented by other child issues.

### Describe the solution you'd like

I would like to

[2021-07-21 17:11] yzhao244 commented on #339
@ruanwenjun @qqeasonchen Hi guys, I am thinking it is better delivering OpenSchema Integration in an incremental delivery fashion in order to ensure a safe build. :) .. In total, OpenSchema APIs can be seen as three groups.. /subject/ related APIs, /schema/ related APIs, /config/compatibility related APIs which I would suggest to deliver each group by individually separated PRs. The PR [434](https

[2021-07-21 18:45] yzhao244 commented on #339
Thanks for your participation. :)  .. Yes, your understanding is correct. Schema Registry APIs are part of admin APIs so yes it can be run as part of EventMesh-runtime.  The scope of schema is for ensuring the consistency and compatibility of exchanging events between event producer and event consumer.

[2021-07-22 02:36] xwm1992 commented on #323
- #452
@Hu-Tu-Tu please pay attention to this issue, thks.

[2021-07-22 02:37] lrhkobe commented on #451
As to this question, EventMesh has a ssl enable switch and the default value is false.

The user guide of HTTPS can refer to the doc in `docs/cn/features/https.zh-CN.md`  or `docs/en/features/https.md`

[2021-07-22 02:55] JunjieChou commented on #454
I'm interested in this issue, maybe I could contribute to it.

[2021-07-22 03:30] ruanwenjun commented on #451
@lrhkobe Yes, I got you. We may need to refactor this code.
The switch might should be moved to `SSLContextFactory` or `AbrstractHTTPServer`, otherwise, though we set the ssl switch false, it still throws an exception(Although this does not affect application).

[2021-07-22 07:04] lrhkobe commented on #451
@ruanwenjun I have not got you. Because I see the code which the switch is already in `AbrstractHTTPServer.java`.
[code]

[2021-07-22 07:16] ruanwenjun commented on #451
@ruanwenjun Yes, you are right.
When the `AbrstractHTTPServer.java` start, it will new a `HttpsServerInitializer` and execute `SSLContextFactory.getSslContext()` to inject the `SSLContext `. The problem is in the `getSslContext` doesn't judge the ssl open.

![image](https://user-images.githubusercontent.com/22415594/126601820-25f24c93-db78-48b2-ba18-a00e277b4ba4.png)

It might be better to change

[2021-07-22 07:35] xwm1992 opened #456 "Automatic License report and check"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

Every time we release the package under the Apache repository, we need check each dependency's license carefully, and we need to support dependency's license report and check automatically.

### Describe the solution you'd like
The license report plugin can integrate this https://github.com/jk1/Gradle-Li

[2021-07-22 08:40] qqeasonchen commented on #435
@yzhao244 I think you can submit this pr first.

[2021-07-22 08:46] ruanwenjun commented on #456
Maybe I can do this work, If we use the shell script to check the license, it may need us to store all license in a trust file, and once we add a new jar, we need to add the license in the trust file.

[2021-07-22 09:32] qqeasonchen commented on #452
@iPine you can refer to the quckstar doc of develop branch, you can figure it out the problem when deploy.

[2021-07-22 09:34] qqeasonchen commented on #323
@Hu-Tu-Tu Can you record a vedio about quick deployment and upload to bilibi？

[2021-07-22 10:04] lrhkobe opened #457 "message ack problem in retry or rePush by closeSession"
**The scenes of message downstream action:**
1. normal downstream
[code]
2. when downstream fail, push retry queue, execute downstream
[code]
3. when closeSession, the session has downstreamed msg which is unAcked, and there is other session which is belonged to same consumer group, the unAcked msg will repush to other client with same group
[code]

The scene2 and scene3 have ack problem, **becaus

[2021-07-22 11:42] Hu-Tu-Tu commented on #323
@xwm1992 I've noticed that. Thank you！

[2021-07-22 11:52] Hu-Tu-Tu commented on #323
@qqeasonchen Do you want me to deploy the whole project locally, including rocketmq, runtime, TCP and HTTP protocol examples?

[2021-07-23 07:01] lrhkobe opened #460 "Support custom retry times configuration when SubcriptionType is `SYNC`"
## Enhancement Request

EventMesh support custom retry times configuration when SubcriptionType is `ASYNC`,  but hard-coded when SubcriptionType is `SYNC`.

[code]

### Describe the solution you'd like

Add custom configuration in `eventmesh.properties` refer to config when the SubcriptionType is `ASYNC`.

[2021-07-23 07:56] lrhkobe opened #461 "Global flow control is not work in MessageTransferTask"
## Bug Report

### Describe the bug
The global flow control is not work，because the current logic exist problem.

**The wrong way:**
[code]
In this way, the send thread releases the token immediately after obtaining it.

**The right way:**
[code]

**Current in `MessageTransferTask.java`:**
[code]
Current code in EventMesh is same with the wrong way.

[2021-07-24 09:18] ruanwenjun commented on #461
@lrhkobe This two ways may be the same.  It seems that the `RateLimiter` will release tokens at a rate of a given number.

[2021-07-25 10:41] ruanwenjun opened #465 "All third part dependencies should be controlled at root build.gradle"
1. Use dependencyManagement to control all third-part dependencies.
2. Plugins manage control the third-part dependency by itself
3. Project version should be definite at only one place.

[2021-07-26 09:02] ruanwenjun opened #468 "ThreadUtilTest failed"
## Bug Report

### Describe the bug
The UT in `ThreadUtilTest` execute failed.

### Environment

- OS: [macOS Cat]
- EventMesh version(s): [develop]

### Steps to reproduce
Execute the UT in `ThreadUtilTest`.
https://github.com/apache/incubator-eventmesh/blob/4eaebde2506a582f8c211143b8d22dedf21e4f5c/eventmesh-common/src/test/java/org/apache/eventmesh/common/ThreadUtilTest.java#L26-L35

[code]
This

[2021-07-26 13:29] iNanos opened #471 "how can eventmesh runtime breaking the capacity limit？"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

EventMesh currently chooses a consumer group-level agent, that is, there is only one real Consumer on a single EventMesh instance of a consumer group.
The number of clients that a single EventMesh instance can support is limited by the number of consumers and the average number of clients in every consum

[2021-07-27 11:54] ruanwenjun opened #473 "LiteProducer async request code is sync"
## Bug Report
In `LiteProducer.java`, you can find the below method:
https://github.com/apache/incubator-eventmesh/blob/737c0f09efeba61a62653d33fd553491af7d0deb/eventmesh-sdk-java/src/main/java/org/apache/eventmesh/client/http/producer/LiteProducer.java#L207-L245

Does this method want to send async request ? It seems that it send sync reqeust.

We may need to change the request code to `MSG_SEND_

[2021-07-28 06:58] #448 closed

[2021-07-28 07:07] #456 closed

[2021-07-28 07:42] #451 closed

[2021-07-28 13:11] #457 closed

[2021-07-28 13:18] #461 closed

[2021-07-28 16:00] #460 closed

[2021-07-29 03:11] #465 closed

[2021-07-29 04:30] lrhkobe opened #476 "Biz Exceptions occured in EventMesh cause connection close of client"
## Bug Report

### Describe the bug
When exception occured in the method of `channelRead0`,  it will be thrown, and handled by the method 'exceptionCaught' in the class of `EventMeshTcpExceptionHandler` .
[code]

When EventMesh caught the exception, it will send goodbye instruction to the client, that means the biz exception caused the connection close of client. It seems unreasonable.
[code]

[2021-07-29 06:18] xwm1992 commented on #473
This is not bug in my opinion，the request method with rrcallback is using for send sync message, you can refer the protocol.md.

[2021-07-29 06:25] ruanwenjun commented on #473
Thanks

[2021-07-29 06:25] #473 closed

[2021-07-29 07:25] #468 closed

[2021-07-29 09:45] #374 closed

[2021-08-02 08:30] #476 closed

[2021-08-02 11:18] qqeasonchen commented on #274
@yuzhoumao Do you have any updates about cloudevents :) ?

[2021-08-02 14:56] msdhinesh-geek commented on #274
@qqeasonchen Am working on interface design for binding , I will post design within couple of days.

[2021-08-03 05:17] ruanwenjun commented on #422
@tydhot  @xwm1992 Hi, right now, the develop branch can be build by jdk11. It can build successfully on my machine, could you please try again.

[2021-08-03 08:58] qqeasonchen commented on #274
looking forward to it :)

[2021-08-03 12:08] qqeasonchen commented on #339
@yzhao244 sorry, after discuss with community, Schema Registry needs a separate server to run, @JunjieChou also do the design now.

[2021-08-03 12:47] ruanwenjun opened #481 "Use YAML file to store configuration"
## Enhancement Request
Currently, there are a lot of configuration fields in EventMesh, and it will increase in the future, you can look up at `eventmesh.properties`.
Such as:
[code]
It is difficult to find out which is your want since most of them has the same prefix.
It is better to store them at yaml file, the advantage is that you can merge the common prefixes like below:
[code]

[2021-08-03 13:22] qqeasonchen commented on #481
good suggestion

[2021-08-04 02:05] Jackzeng1224 commented on #481
It can be revised and submitted to pr

[2021-08-04 03:36] ruanwenjun commented on #200
@iNanos Can we decouple the implementation of the protocol by using plugin?

[2021-08-04 06:17] qqeasonchen commented on #200
Sure

[2021-08-04 14:49] JunjieChou commented on #339
@qqeasonchen  @yzhao244  Hi, guys. Below is a high-level design of Schema Registry and EventMesh-Schema-SPI. It decouples Schema Registry as a separated runtime which currently is one host running schema registry.
How do you think of this design?

<img width="697" alt="EventMeshSchemaRegistryArchitecture_2nd_edition" src="https://user-images.githubusercontent.com/28994988/128202554-c39b6289-e755-4

[2021-08-04 15:18] qqeasonchen opened #482 "Support protocol adaptor plugin"
## Feature Request

### Is your feature request related to a problem? Please describe
Currently, eventmesh only support http/tcp protocol, it will support more protocols like gRPC/MQTT/AMQP/CloudEvents etc, it would be nice if protocol can be pluggable.

### Describe the solution you'd like
Using eventmesh-spi and add new moudle like eventmesh-protocol-plugin

### Describe alternatives you've cons

[2021-08-04 15:19] qqeasonchen commented on #435
@yzhao244 Is there any updates here?

[2021-08-04 16:13] jinrongluo commented on #339
@JunjieChou @qqeasonchen @yzhao244

Hi Junjie, Thanks for your proposal on Schema Registry design. I agree overall design and the example steps of how eventmesh are using Schema Registry to process the events. I have two comments below:

1.  Schema Registry API is part of EventMesh administrative API, In the future we can have other admin APIs such as Topic API, and subscription API. See issue #34

[2021-08-05 01:00] ruanwenjun commented on #482
Great, I would like to take part in this feature.

[2021-08-05 01:28] qqeasonchen commented on #339
@jinrongluo @yzhao244 @JunjieChou hi，Here is the different, schema registry runs dependently or along with Eventmesh runtime? disscusson is open here. I agree with setting up eventmesh-rest and eventmesh-store.

[2021-08-05 06:22] lrhkobe opened #484 "Support access control about security for EventMesh"
## Feature Request

### Describe the solution you'd like

1. Add `eventmesh-security-plugin` module refers to `eventmesh-connector-plugin`,  `eventmesh-security-plugin`  contains acl api design module and concrete acl plugin implementation module;
2. I will provide a simple API interface design in `eventmesh-security-api` module and  support access control in the `eventmesh-runtime` by calling the

[2021-08-05 13:29] JunjieChou commented on #339
@qqeasonchen  @jinrongluo  @yzhao244
# agreement
Hi, Jinrong, I get what you mean. And I believe you are right considering scaling. The model you proposed is integrating Schema Registry API with EventMesh(eventmesh-rest), in which model there is no client and server because the eventmesh-rest undertakes the interaction with the database. And the database is independent of EventMesh so that other a

[2021-08-05 13:40] JunjieChou commented on #339
Anyway, the question is not an urgent one. But the concern may be a have-to-solved one before coding. What do you guys think?

[2021-08-05 15:30] jinrongluo commented on #339
@JunjieChou  @qqeasonchen @yzhao244

Thank you JunJie for your review and analysis.

For database question. I would say the choice of database is depend on the deployment environment. For dev/test environment, where only single instance of  EventMesh is provisioned, H2 database is sufficient. For Staging/Production environment, distributed database (such as MySQL) is required. So we can have event

[2021-08-05 15:35] JunjieChou commented on #339
@jinrongluo  @qqeasonchen @yzhao244   hey, guys. After discussing with Weiming, I found that my understandings of some terms is not correct which makes my design a bit confusing. I get your points which is exactly what I thought and I will return with a new design picture. Sorry to make these confuses.

[2021-08-06 01:25] vongosling opened #486 "AsyncAPI native support"
AsyncAPI is an open specification meant to be an industry standard for defining asynchronous APIs. Its design is very close to OpenMessaging but has more complete API lifecycle support. It could help unify documentation automation and code generation and manages, testing, and monitoring asynchronous APIs. The specification provides a language for describing event-driven systems' interfaces regardl

[2021-08-06 02:00] qqeasonchen commented on #486
Good suggestion, I was keep paying attention to this technology.

[2021-08-08 11:03] lrhkobe opened #488 "Support registry adaptor plugin"
## Feature Request

### Is your feature request related to a problem? Please describe

The client randomly selects eventmesh from the address list to establish a connection. As to the client with same group , they may connect the same eventmesh, or the distribution of clients will be hugely uneven.Therefore, it may lead unbalanced flow on eventmesh.

### Describe the solution you'd like

1. Add `e

[2021-08-09 02:56] ruanwenjun commented on #488
I think we may need to add a notify method in RegistryService interface.
![image](https://user-images.githubusercontent.com/22415594/128656040-303ac236-f6db-4867-bad3-66cc4b041f14.png)

Then we needn't query by time polling.

[2021-08-09 10:25] qqeasonchen opened #490 "Support service invocation"
## Feature Request

Currently EventMesh only support pub/sub, it would be wonderful if support request-reply like RPC.

### Is your feature request related to a problem? Please describe

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-08-09 10:34] qqeasonchen opened #491 "Support native deployment with using low memory"
## Feature Request

Low memory, including JVM, reflection free, low GC, super modular, native compilation friendly.

### Is your feature request related to a problem? Please describe

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-08-10 09:50] lrhkobe opened #492 "Support resource initilization and release of connector in EventMesh"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe

When a large number of groups represented by eventmesh, there may be a resource problem, because in eventmesh each group corresponds to a rocketmq client, and each rocketmq client is heavy and it opens a lot of threads. We may need to use a public thread pool  instead of opening a separate thread pool fo

[2021-08-11 08:55] Jackzeng1224 opened #496 "The development version has ClassCastException"
## Question

The development version has ClassCastException, which needs to be solved.

![企业微信截图_16286720706798](https://user-images.githubusercontent.com/35483870/129000217-75690713-1f70-4641-b6b0-0925aeb9d320.png)

[2021-08-11 10:09] liwenzheng commented on #490
我打算使用eventmesh作为业务系统的基础架构，不再引入service mesh之流，固需要RR能力。去年RocketMq推出了新功能Request Reply，所以在EventMesh中添加这个功能应该不难吧。希望能尽快加上去，应该对其他模块也不会有影响。

[2021-08-12 00:21] qqeasonchen commented on #490
@liwenzheng ok, let us do it together

[2021-08-12 03:19] liwenzheng commented on #490
@qqeasonchen  Thank you very much. Please speed up your time. I hope to test this month

[2021-08-12 19:24] JunjieChou commented on #339
Hi, @qqeasonchen @jinrongluo @yzhao244.
After comparing schema integration in other projects(Kafka, EMQ, Pulsar), I propose to separate OpenSchema into two parts. One is server-side (OpenSchema Registry) which provides storing and maintaining schema services, another is client-side which provides (de-)serialization and validation services.
I have defined the client-side architecture and interfaces

[2021-08-12 20:51] yzhao244 commented on #435
@qqeasonchen Yes,  Basically, my idea is to move httpserver context creation, handlers along with its dependencies such as Utils classes to eventmesh-rest module.  Inside the module, a new utility class called "RequestMapping" maps RESTful RequestUrl to the corresponding handler method and extracts values from path variables. As my sample handler class code indicates, any request invokes REST API

[2021-08-12 20:53] yzhao244 commented on #435
HttpServer is still created and run inside eventmensh-runtime. Only the server.createContext part and handlers move to eventmesh-rest module.

[2021-08-13 01:16] qqeasonchen commented on #339
@JunjieChou Nice

[2021-08-13 01:45] qqeasonchen commented on #435
@yzhao244 thanks, you can see the new pr #498 , maybe you can give some updates as well, after all, you are the first contributor of this feature :), i hope you can be continue on this, thanks again.

[2021-08-13 01:48] qqeasonchen commented on #361
https://eventmesh.apache.org/blog/introducing-apache-eventmesh

[2021-08-13 03:06] lrhkobe commented on #496
I know this problem, and I will fix it later.

[2021-08-13 06:28] #496 closed

[2021-08-13 07:01] #492 closed

[2021-08-13 07:05] lrhkobe commented on #488
EventmeshRuntime reports the data to every registry of the same cluster. Notification mechanism maybe exist the problem of repeated notification.

[2021-08-13 08:57] #488 closed

[2021-08-16 03:34] xwm1992 commented on #274
@yuzhoumao Hi, what's the going on with cloudevents?

[2021-08-20 07:27] Jackzeng1224 opened #505 "Abandoned classes or methods are recommended to be replaced"
## Question

Abandoned classes or methods are recommended to be replaced. Sometimes it will be abnormal

![image](https://user-images.githubusercontent.com/35483870/130196379-9dd5088f-de27-466f-9a15-3e2255278f31.png)

[2021-08-21 02:11] #484 closed

[2021-08-22 00:36] qqeasonchen opened #506 "Demo DDD with EventMesh"
It would be interesting that anybody can try to develop a DDD demo with eventmesh?

[2021-08-24 12:12] JunjieChou commented on #435
Hi, @yzhao244. I would like to coorperate with you on Open Schema related coding part. Any updates here?

[2021-08-25 08:27] ruanwenjun opened #511 "[Discuss] Build integration test"
In most of the time, we can use unit test to test our code, but this is not enough, since unit test is just test the code logic, it doesn't considerate the real situation of different modules working together.

We should also use integration test to test the whole application.

In EventMesh, there are some three-part dependencies, e.g. rocketmq、mysql(In the future)...
It is better to create a cont

[2021-08-25 11:45] #490 closed

[2021-08-25 12:12] #505 closed

[2021-09-01 13:30] yzhao244 commented on #435
@JunjieChou Great suggestions actually :) . Btw, I am planning contributing eventmesh-openschema-rest module along with a readme file and maybe some skeleton code under the main eventmesh-openschema-plugin module

for example, eventmesh-openschema-plugin/eventmesh-openschema-rest/readme.md which contains my proposed details of EventMesh Schema Registry REST APIs such as REST URL, payload and examp

[2021-09-01 14:56] JunjieChou commented on #435
@yzhao244 Hi, good to hear that you are going to start a readme file.

Actually, I have started the coding of the separated RESTful Schema Registry.

Inspired by what you have coded, I created a new module called ```OpenSchemaRegistry``` under ```eventmesh-openschema-plugin``` as a separate service based on Spring-boot and spring-data-jpa.

For now, I have accomplished the ```/schemas```  controll

[2021-09-01 15:42] JunjieChou commented on #435
@yzhao244 I have created a pr to your forked repository. Hope for reviewing 😊 !

[2021-09-01 16:28] yzhao244 commented on #435
@JunjieChou Sure, I can definitely review. :) . Btw, did you have a chance to discuss with the community of using SpringBoot and Spring JPA for Schema Registry in EventMesh project. Maybe we can add Eason and other members to this issue to have an open discussion. :)

My initial thought was exposing Schema Registry REST APIs by leveraging the current EventMesh's ClientManagerController's design of

[2021-09-02 00:44] ruanwenjun commented on #435
@yzhao244 I agree with using SpringBoot, since we may need to add a new module such like admin-server, it works as a control plane and provide some interface to manage the eventmesh-runtime module and other configuration(e.g. schema).
SpringBoot can help us a lot, and in runtime-module, I think we may don't need to import spring dependency.

[2021-09-02 06:59] qqeasonchen commented on #435
I think eventmesh-admin moudle is great.

[2021-09-02 07:45] ruanwenjun commented on #435
@yzhao244 @qqeasonchen The topology may look like below, this is a simple demo, the eventmesh-runtime is decentralization and ligntwight. For third-part storage, we may only need to rely on registry center,
![image](https://user-images.githubusercontent.com/22415594/131803530-0d2551b7-7a48-4345-a5aa-aba1e441776b.png)

[2021-09-02 14:59] yzhao244 commented on #435
@ruanwenjun @qqeasonchen @JunjieChou I agree with eventmesh-admin module, sounds a very good idea. eventmesh-admin module can in the future becomes a management layer which exposes Admin or Schema REST APIs to UI console for end-user to do managements.

I can rework my existing PR #513 to create eventmesh-admin module. Just double confirm, I will name this new module as "eventmesh-admin" instead o

[2021-09-03 19:07] yzhao244 commented on #435
@ruanwenjun Based on your topology image above, do you think schema registry should be a child module of eventmesh-admin?

For example
eventmesh-admin/eventmesh-admin-schemaregistry
eventmesh-admin/eventmesh-admin-clientmanager

[2021-09-06 02:22] ruanwenjun commented on #435
@yzhao244 I think we can leave the plugins out for now, we can just add an admin module.

[2021-09-06 02:35] wangshaojie4039 opened #515 "Implement the conversion from openmessaging to cloudevent"
## What is the purpose of the change

Implement the conversion from openmessaging  to cloudevent

## Brief changelog

1. BinaryMessage read / write
2. StructuredMessage read / write
#515

[2021-09-06 02:38] qqeasonchen commented on #511
Agree, e2e-test is expecting.

[2021-09-07 14:21] yzhao244 commented on #435
Sounds good. :)

[2021-09-13 21:29] jinrongluo opened #520 "There is a typo in SubscriptionItem class in eventmesh-common module"
## Bug Report

### Describe the bug

There is a typo in SubscriptionItem class in eventmesh-common module

private field **SubcriptionType** is a typo, it should be **SubscriptionType**

[code]

### Environment

- OS: [e.g. Ubuntu 21.04 LTS]
- EventMesh version(s): [e.g. 1.2.0]
- RocketMQ version(s): [e.g. 4.7.1]
- ...

### Steps to reproduce

### Expected behavior

### Debug logs

<details>
<summ

[2021-09-14 01:35] ruanwenjun commented on #520
@jinrongluo You can report in this issue, and it's better not create a new issue.
- https://github.com/apache/incubator-eventmesh/issues/405

[2021-09-14 14:04] jinrongluo commented on #520
Thanks I will do that. and close this issue.

[2021-09-14 14:04] #520 closed

[2021-09-14 15:19] jinrongluo commented on #290
Organization: Huawei
Location: Shenzhen, Guangdong
Contact: jin.rong.luo@huawei.com
Version: v1.0.0
usage scenario: Managed cloud native central event bus and orchestration engine, used by thousands of event driven cloud services and applications in various industries.

[2021-09-15 01:04] vongosling commented on #340
Any update?

[2021-09-16 22:18] jinrongluo opened #523 "Adding Flow control RateLimiter support in Http Message Send Processor"
## Enhancement Request

In Eventmesh runtime, there is flow control using RateLimiter in TCP MessageTransfer processor, and HTTP Batch Message send processor. However flow control is missing in Http MessageSend (Sync & Async) procrssors.

I have implemented RateLimiter for Http Message Send processors, and would like to contribute.

I will create a PR later.

### Is your enhancement request relate

[2021-09-16 22:18] jinrongluo commented on #523
@vongosling

[2021-09-17 02:22] qqeasonchen commented on #523
good question, you can refer to tcp ratelimiter implementation.

[2021-09-17 13:55] jinrongluo commented on #523
thanks @qqeasonchen I created PR - https://github.com/apache/incubator-eventmesh/pull/524

Please review. thanks.

[2021-09-20 21:00] jinrongluo opened #528 "Adding Retry support to HTTP SendMessage processor and TCP MessageTransfer task"
## Enhancement Request

Currently in Eventmesh-runtime, Retry logic is added to the following functions:

- HTTP BatchSend processors, using  SendMessageContext
- HTTP Pusher, using AsyncHttpPusherRequest
- TCP SessionPusher using DownStreamMsgContext

But HTTP SendMessage processors and TCP MessageTransfer task don't have Retry support.

### Is your enhancement request related to a problem? Pleas

[2021-09-20 21:00] jinrongluo commented on #528
@vongosling

[2021-09-20 22:38] jinrongluo commented on #528
PR created for this issue. please review. Thanks.

https://github.com/apache/incubator-eventmesh/pull/529

[2021-09-23 06:03] impactCn opened #532 "Add mqtt protocol analysis"
Add new features to eventmesh, able to parse the mqtt protoco.

[2021-09-24 03:26] wuwenzhao opened #534 "Typo fix in EventMesh Architecture Diagram"
## Documentation Related
https://github.com/apache/incubator-eventmesh/blob/develop/README.md
https://github.com/apache/incubator-eventmesh/blob/develop/README.zh-CN.md

## Typo Fix
**"choregography" -> "choreography"**

![image](https://user-images.githubusercontent.com/4035972/134612882-97d393bb-bed6-4bef-9cf1-75339246c81b.png)

[2021-09-24 05:20] ruanwenjun opened #536 "[Bug][SchemaRegistry] OpenSchemaRegistryApplication start error"
## Bug Report

### Describe the bug
This may be caused by the spring version conflict.
BTY, currently, there are two kinds version of spring in project, this is a bad practice.

### Environment

- EventMesh version(s): [develp]

### Steps to reproduce
start OpenSchemaRegistryApplication.java

### Debug logs
[code]

[2021-09-25 01:42] Hu-Tu-Tu opened #538 "Document path error"
## Documentation Related

After the name of the Chinese documents are modified, the relative path of the relevant Chinese documents such as `quickstart.md`, `README.zh-CN` has not been modified. Clicking the link directly cannot open the corresponding Chinese documents.

[2021-09-25 02:59] JunjieChou commented on #536
I'm dealing with it.

[2021-09-25 05:14] JunjieChou opened #541 "packege imported is not existed"
## Enhancement Request

```org.apache.eventmesh.openschemaregistry.domain.*``` in ```SubjectService.java``` is not existed.

Seems that part of the package name of schema registry is renamed from ```openschemaregistry``` to ```schema.registry.server```, but one of the packages imported in ```SubjectService.java``` is not changed.

### Is your enhancement request related to a problem? Please descri

[2021-09-26 15:06] #541 closed

[2021-09-27 08:08] dengqunhua opened #544 "An error occurs when the eventMesh-examples is run"
## Question

[2021-09-28 19:11] jinrongluo commented on #523
PR merged, close issue.

[2021-09-28 19:11] #523 closed

[2021-09-28 19:30] jinrongluo opened #546 "How does Eventmesh support a cluster of multiple eventmesh runtime instances"
In production deployment of eventmesh in cloud environment, eventmesh cluster of multiple instances is required for high availability and fault tolerance.

From the code study, eventmesh runtime using local cache Concurrent Map to store client and session information. For example,
- HTTP Server side: localConsumerGroupMapping and localClientInfoMapping
- TCP Server side:  sessionTable and clientGr

[2021-09-28 19:40] jinrongluo commented on #546
@vongosling

[2021-09-30 09:46] xwm1992 commented on #544
please describe the question.

[2021-09-30 09:49] xwm1992 commented on #546
we need to implement the `eventmesh-registry-plugin` for this.

[2021-09-30 16:43] jinrongluo commented on #546
Thanks @xwm1992 this is a good suggestion for eventmesh-registry-plugin

[2021-09-30 16:43] #546 closed

[2021-09-30 16:48] jinrongluo commented on #528
PR merged. close issue. thanks.

[2021-09-30 16:48] #528 closed

[2021-10-01 03:43] liangyuanpeng commented on #263
FYI,  OpenTracing going to archive, use OpenTelemetry will be greate.

[2021-10-03 05:26] qqeasonchen commented on #534
@wuwenzhao thanks for you reminder,welcome to try and contribute to eventmesh.

[2021-10-03 12:47] qqeasonchen opened #547 "[Feature] Create and upload 1.3.0-snapshot docker image"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe
It is more convinient to run EventMesh with docker, v1.2.0 image is not the latest.

### Describe the solution you'd like
Create and updload 1.3.0-snapshot docker image.

### Describe alternatives you've considered

### Additional context

[2021-10-03 15:04] ruanwenjun commented on #538
@Hu-Tu-Tu Could you please provide more details? e.g. which URL is wrong.
I check the Chinese readme.md and quick-start doc,  it's correct. Maybe this issue has been fixed.

[2021-10-03 15:47] qqeasonchen opened #548 "Unify Admin HttpServer into EventMeshHttpserver"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe
Admin Httpserver in runtime was created in a different way, it is needed to unify it into EventMeshHttpserver.

### Describe the solution you'd like
Add a AdminProcessor in EventMeshHttpServer like AdminMetricsProcessor.

### Describe alternatives you've considered

### Additional context

[2021-10-03 15:51] qqeasonchen opened #549 "[Enhancement]Unify request handler code style of tcp and http protocol"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe
Http protocol handle with processors but Tcp protocol handle with tasks, it is needed to unify them into a same code style, it would be better for futher protocol extendtion.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-04 17:56] ruanwenjun opened #550 "Remove unused jar in plugin module"
## Enhancement Request

### Is your enhancement request related to a problem? Please describe
When package plugin module, it will generate a lot of jars, and most of them are transport from common module.
We need to remove them.

### Describe the solution you'd like
Set relies on common module to compileOnly.

[2021-10-05 15:58] ruanwenjun commented on #444
For better maintain, we can remove the code style file, since the checkstyle can also help us to format code in IDE. And we use checkstyle file to check the code style when we run GitHub CI.

[2021-10-08 12:27] #444 closed

[2021-10-09 00:58] vongosling opened #553 "Event workflow for choreography"
## Enhancement Request

Generally speaking, Choreography is driven by events from the various services within a system. Each service consumes events, performs an action, and publishes events. There is no centralized coordination or logic and very useful for small/simple workflows. It also brings difficult to conceptualize if a lot of services are involved. and harder to debug & test if a lot of se

[2021-10-09 01:07] #454 closed

[2021-10-09 01:08] vongosling commented on #417
Any update for this issue?

[2021-10-12 20:02] jinrongluo opened #554 "Removing hardcoded username and password in the project code"
## Enhancement Request

When reviewing the eventmesh project code, we found out there is not a best practice to hardcode username and password in the code, which can be potential security and compliance issue when the project is deploy to a company's production environment.

For better commercial adoption, I suggest to clean up any hardcoded username and password in the project code. And in the fu

[2021-10-14 14:11] #550 closed

[2021-10-19 12:29] xwm1992 opened #562 "[Feature] Support CloudEvents interface for pub/sub in EventMesh runtime"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

1.Support new pub/sub interface with CloudEvents dto and use this interface publish and subscribe events instead of Openmessaging interface.
2.Implement these interfaces in `eventmesh-connector-rocketmq` plugin with the `rocktmq-

[2021-10-19 12:39] xwm1992 opened #563 "[Feature] Support CloudEvents pub/sub in eventmesh-sdk-java"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

1.Now we need to pub/sub the CloudEvents with the eventmesh-sdk-java, we can depend on the `cloudevents-core` packages and put the `CloudEventV1` as the sdk package's body
2.In the EventMesh Server we need to deserialize the pack

[2021-10-19 12:47] xwm1992 opened #564 "[Feature] Support CloudEvents protocols for pub/sub in EventMesh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

For now we need support CloudEvents protocols for pub/sub in EventMesh. task issues refer as below:
- #562
- #563
- #482

### Are you willing to submit PR?

- [x] Yes I am willing to submit a PR!

[2021-10-22 01:51] Alonexc opened #565 "Rocketmq is not running properly"
When standalone changes to rocketmq, the doesn't load the connectorResourceService plugin, please check.  standalone can start normally.

[2021-10-23 13:39] ruanwenjun opened #567 "[Enhancement] Optimize config file location"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

- In example module, there is no need to create a conf directory, each times, we need to move the config properties to classpath, it's better to move the config properties to resource.
- It's better to move the rocketmq prope

[2021-10-25 00:52] vongosling commented on #486
So far, we've had so many choices that we've made less progress in multi-language supports. Whether to use GRPC to meet this requirement based on the AsyncAPI spec, also we could refer to the structures of CloudEvents and OpenSchema are used.

[2021-10-25 02:56] #567 closed, assigned to nobody

[2021-10-26 10:09] AhahaGe opened #569 "[Doc] Contributing guide edit idea import checkStyle step"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Documentation Related
Follow the contributing doc, I can't see the CheckStyle Configuration import section, and can't import check style file success.
After I installed the CheckStyle-IDEA plugin, it show the CheckStyle Configuration import secti

[2021-10-27 04:30] #569 closed, assigned to nobody

[2021-10-29 02:30] qqeasonchen opened #576 "[Feature] Integrate wasm runtime"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

WebAssembly Micro Runtime (WAMR) is a standalone WebAssembly (WASM) runtime with a small footprint. It includes a few parts as below:

The "iwasm" VM core, supporting WebAssembly interpreter, ahead of time compilation (AoT) and J

[2021-10-31 14:29] qqeasonchen opened #577 "[Feature] Support federated connector"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

Currently, A event routes to eventstore when publish to EventMesh, and consumes by another EventMesh from eventstore, but if a event can route from one eventmesh to another eventmesh, eventstore will not must be shared between ev

[2021-11-02 05:01] ruanwenjun opened #579 "[Enhancement] Add maven dependency guide in java example"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

User want to use eventmesh java sdk, they need to add eventmesh-sdk-java to their pom.xml/build.gradle, this should be addressed in quick start.
https://mvnrepository.com/artifact/org.apache.eventmesh/eventmesh-sdk-java

###

[2021-11-07 15:10] ruanwenjun opened #580 "[Enhancement] Add checkstyle gradle plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Add checkstyle gradle plugin, then contributor cannot rely on IDE plugin

### Describe the solution you'd like

Add checkstyle gradle plugin

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2021-11-09 02:47] qqeasonchen commented on #576
https://github.com/WasmEdge/WasmEdge/issues/632

[2021-11-10 02:28] #580 closed

[2021-11-10 06:27] ruanwenjun opened #583 "The left sidebar in Docs need to be reversed"
It might be better to reverse to
- Apache EventMesh
- Instructions
- Features
![image](https://user-images.githubusercontent.com/22415594/141061062-3aa39bea-7eaf-4814-b0fa-47661f0df674.png)

[2021-11-10 06:32] ruanwenjun opened #584 "Split the docs by version"
e.g. 1.2.0, 1.3.0 like other project.

![image](https://user-images.githubusercontent.com/22415594/141061946-e962694a-1c29-4a92-ac3b-675ef708a15b.png)

[2021-11-11 02:30] ruanwenjun opened #582 "[Feature] Add jdk11 compile/test in ci"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

I have test in my local environment, jdk11 is supported in EventMesh(If not it should be fixed to support jdk11).

It's need to add jdk11 build/test in github ci.

Related issue #422 should be closed after this issue be fixed

##

[2021-11-14 14:19] zhannicholas opened #588 "[Doc] Documentation Related"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Documentation Related

There is a typo in README.md

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2021-11-15 02:21] #588 closed

[2021-11-15 11:59] hagsyn opened #590 "[Bug] Consumer subscription topic is invalid"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

-OS[windows 10] -EventMesh version[1.2.0] -RocketMQ version:[4.5.1]

### What happened

When consumers subscribe, the parameters are "url" and "topicList". In fact, only the first topic of topicList takes effect!

### How to reproduc

[2021-11-16 03:15] jinrongluo commented on #417
Hi @qqeasonchen @ruanwenjun

Thanks for your support. I am adding a gRPC design doc and protobuf data model. and generated java codes. Please review the following PR.  Let me know if you have any comments.

 PR - https://github.com/apache/incubator-eventmesh/pull/593

Next step, I will write the code to support gRPC in Java-SDK and eventmesh-runtime

[2021-11-16 21:15] jinrongluo commented on #417
Due to code conflicts, I create a new PR - https://github.com/apache/incubator-eventmesh/pull/594

[2021-11-17 01:58] vongosling commented on #582
Good catch for this feature.

[2021-11-17 09:49] sarihuangshanrong opened #596 "[Doc] Documentation Related"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Documentation Related

I found a link is wrong in zh-cn document, maybe eventmesh should be making zh-cn documentation better.

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2021-11-19 08:16] xwm1992 commented on #590
I reopen this issue for this change cause the `ConcurrentModificationException` during http sub with multi topics(>2) @hagsyn , you can submit the new pr for fix this and relate this issue, thks.
![image](https://user-images.githubusercontent.com/13237619/142588589-d551d54c-ffe3-4599-b811-a4472ff20a72.png)

[2021-11-19 08:27] #596 closed

[2021-11-19 09:22] #590 closed

[2021-11-19 20:47] jinrongluo commented on #471
your design of using Global Consumer is great.  When are you planning to implement it? @iNanos @qqeasonchen

[2021-11-23 03:05] lrhkobe opened #604 "[Enhancement] Improve the rebalance algorithm between eventmesh and eventmesh-client"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Improve the rebalance algorithm

### Describe the solution you'd like

Supply more accurate and proper rebalance algorithm

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2021-11-25 20:56] yzhao244 opened #614 "[Enhancement] Add openschema dependency to eventmesh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

I would like to suggest to add openschema dependency to eventmesh project and create a client to communicate with openschema registry. Since openschema community has recently published the first version of OpenSchema Registry

[2021-11-25 20:56] yzhao244 commented on #614
@ruanwenjun @qqeasonchen

[2021-11-26 03:26] qqeasonchen commented on #614
ok, do we need confirm with @JunjieChou ?

[2021-11-26 05:28] JunjieChou commented on #614
sure

[2021-11-26 05:28] JunjieChou commented on #614
sure ok

[2021-11-29 02:17] #435 closed

[2021-11-30 07:40] #346 closed

[2021-12-02 14:04] socket515 opened #626 "[Question] can`t find rocketmq-client.properties"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

doc link [https://github.com/apache/incubator-eventmesh/blob/develop/docs/en/instructions/eventmesh-runtime-quickstart-with-docker.md](https://github.com/apache/incubator-eventmesh/blob/develop/docs/en/instructions/eventmesh-runtime-qui

[2021-12-03 02:52] qqeasonchen commented on #626
@socket515 can you find it in the docker?

[2021-12-04 10:54] ruanwenjun commented on #626
@socket515 You can find `eventmesh.properties` at https://github.com/apache/incubator-eventmesh/tree/develop/eventmesh-runtime/conf, and `rocketmq-client.properties ` at https://github.com/apache/incubator-eventmesh/tree/develop/eventmesh-connector-plugin/eventmesh-connector-rocketmq/src/main/resources

[2021-12-07 12:18] ruanwenjun opened #630 "[Bug] RocketMQProducerImpl cannot load config properties from classpath"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

xx

### What happened

When change build.gradle and add rocketmq-connector dependency in local development, the RocketMQProducerImpl cannot should load config from classpath, but it not.

### How to reproduce

Add rocketmq-connector

[2021-12-07 17:41] jinrongluo opened #632 "[Enhancement] maven dependencies improvement on build.gradle file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

There are some maven dependencies in the project's build.gradle are not out of date, or duplicated.  This will improve the adoptions of this project in the community and enterprise.

### Describe the solution you'd like

I wo

[2021-12-08 00:34] vongosling commented on #632
Good catch~

[2021-12-08 08:09] vongosling commented on #632
Some works have been done, pls see the latest commits. We could pay more attention here later. @qqeasonchen

[2021-12-08 08:09] #632 closed

[2021-12-08 08:14] vongosling commented on #632
It seems our IT should not check the checktyle...gradlew clean build jacocoTestReport checkLicense -x check

[2021-12-09 02:29] jonyangx opened #639 "[Bug] ClientSessionGroupMapping compile warning"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

- OS:[Macos 12.0.1] - EventMesh version: develop branch

### What happened

/incubator-eventmesh/eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/core/protocol/tcp/client/group/ClientSessionGroupMapping.java:480: 警告: [unc

[2021-12-10 00:44] #639 closed

[2021-12-10 00:47] vongosling commented on #583
The issue should be raised in the site repo.

[2021-12-10 00:47] #583 closed

[2021-12-10 07:08] ruanwenjun opened #642 "[Enhancement] Update to log4j 2.x"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

I find we use log4j2 in EventMesh,
[code]
this lib has been reported some big security issues today, and we may need to solve this.

### Describe the solution you'd like

Upgrade log4j version or use logback.

### Are you wil

[2021-12-10 08:42] #582 closed

[2021-12-10 08:55] vongosling commented on #642
I will close the issue and  pr. I think EventMesh PPMC should pay more attention to this serious problem as soon as possible. Strictly speaking, such problems need to be transmitted through the security channel. Try not to display them externally. Apache EventMesh specifically offers security features and is responsive to issues around its features. If you have any concern around Security or belie

[2021-12-10 08:55] #642 closed

[2021-12-13 09:12] qqeasonchen opened #645 "[Feature] Serverless SQL with Linkis integration"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

Linkis builds a layer of computation middleware between upper applications and underlying engines. By using standard interfaces such as REST/WS/JDBC provided by Linkis, the upper applications can easily access the underlying engi

[2021-12-13 12:25] xwm1992 opened #646 "[Bug] Missing the rocketmq message properties during protocol conversion"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

eventmesh version: 1.3.0-snapshot

### What happened

Can't excute rr method in eventmesh-java-sdk with eventmesh-rocketmq-connector

### How to reproduce

excute rr method in eventmesh-java-sdk with eventmesh-rocketmq-connector

###

[2021-12-13 12:43] #630 closed

[2021-12-13 13:14] #646 closed

[2021-12-14 08:34] xwm1992 commented on #626
@socket515 Whether the problem has been solved?

[2021-12-14 18:45] horoc opened #652 "[Question] Quick start doc dose not work."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

I tried to start runtime by following the quickstart doc.

In root directory:
`
gradle clean dist
`

Dist result:

<img width="367" alt="截屏2021-12-15 上午2 29 20" src="https://user-images.githubusercontent.com/63457588/146058464-aa0f1b88-

[2021-12-15 02:53] qqeasonchen commented on #652
@ruanwenjun can you take a look?

[2021-12-15 03:27] xwm1992 commented on #652
you should excute `gradle clean jar dist` first and then execute `gradle installPlugin` please. @horoc

[2021-12-15 17:04] jinrongluo opened #655 "[Enhancement] Adding Send Message constraints for Message Body Size and Message Batch Send Size"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Currently in Eventmesh there is no configuration constraints to limit how large a message can be send to EventMesh. And for batch send, there is no limit of how many messages can be send in one batch.

For security and system

[2021-12-15 17:04] horoc commented on #652
I have tried, but It's not work for me, the errors in log file is the same.

I tired to change the default plugin path in code, and It's seems works. 😂

[2021-12-16 02:59] ruanwenjun commented on #652
@horoc Thanks for your feedback. If you try to start from source code, you can use -`DeventMeshPluginDir=your_plugin_path` to set the plugin directory. We will optimize this later.

[2021-12-16 06:39] xwm1992 commented on #652
![image](https://user-images.githubusercontent.com/13237619/146320556-3bcf9a1d-4516-4dd0-b8a5-e20f5b3eb35a.png)
please confirm that you have configured the ` default plugin path dist/plugin` in your jvm options. @horoc

[2021-12-16 09:14] #604 closed

[2021-12-16 15:05] jinrongluo opened #658 "[Enhancement] Support CloudEvents Webhook Specification"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Eventmesh supports CloudEvents Specification. But there is a missing piece of work about Http Webhook for CloudEvents.

https://github.com/cloudevents/spec/blob/v1.0.1/http-webhook.md

To completely meet the CloudEvents Spec,

[2021-12-16 17:59] horoc commented on #652
Thanks for your help ~

[2021-12-16 17:59] #652 closed

[2021-12-17 02:50] vongosling commented on #658
There are many constraints in this pr. IMO, the most important must-be item is WebHook-Request-Origin, we should care about this part.

[2021-12-17 03:39] #547 closed

[2021-12-21 10:03] qqeasonchen commented on #276
https://github.com/serverlessworkflow/specification/issues/559

[2021-12-21 13:53] ruanwenjun opened #664 "[Enhancement] Use event processor chain to process event in runtime"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Currently, EventMesh has the basic ability to transport event, but there are shortcomings in process/filter/monitor/xx event.

For example, if I want to monitor the number of specific events or just filter some events, I may

[2021-12-22 07:55] qqeasonchen commented on #664
@ruanwenjun good suggestions, yes it need a chain for event governance.

[2021-12-23 07:03] qqeasonchen commented on #276
guys, we lauched a discuss in serverlessworkflow community, do you have any suggestions about rule engine?

[2021-12-29 06:19] jonyangx opened #670 "[Bug] checkstyle check FAILED"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

- OS: MacOS 12.1

- EventMesh versions:1.3.0

### What happened

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':eventmesh-common:checkstyleMain'.

  Checkstyle files with violations: 52
  Che

[2021-12-29 08:53] qqeasonchen opened #673 "[Doc] Quickstart with docker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Documentation Related

Since docker image of  eventmesh/eventmesh:v1.3.0 is ready, we need to update the quickstart[1] with docker for easy deploy.

[1]https://github.com/apache/incubator-eventmesh/blob/master/docs/en/instructions/eventmesh-runti

[2021-12-29 09:21] qqeasonchen commented on #553
the same with https://github.com/apache/incubator-eventmesh/issues/276

[2021-12-30 02:59] activemumu opened #676 "[Feature] Event Streaming"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

### EventMesh-Camel-SpringCloudStream
In order to implement event stream processing, we will integrate Camel and Spring Cloud Stream in EventMesh. This document provides the basic architecture of the stream processing system in E

[2021-12-30 03:49] li-xiao-shuang opened #677 "Translate readme files from English to Chinese"

[2021-12-30 11:08] qqeasonchen commented on #676
@activemumu good job, just go ahead and we can launch a discussion if neccessary.

[2021-12-31 11:55] #670 closed

[2021-12-31 11:55] #292 closed

[2022-01-03 14:10] ruanwenjun commented on #676
@msdhinesh-geek What do you think?

[2022-01-04 02:08] #677 closed

[2022-01-04 08:05] li-xiao-shuang opened #687 "[Bug] EventMesh examples runtime error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

MacBook Pro 2.6 GHz 六核Intel Core i7

### What happened

An error occurred when executing the EventMesh example.

### How to reproduce

1. start eventmesh runtime
2. run SyncRequestInstance example

### Debug logs

io.cloudevents.core

[2022-01-04 09:15] jzhou59 commented on #673
If no one is working on it, I would like to help with updating docs for docker quickstart.

[2022-01-05 02:01] qqeasonchen commented on #673
Sure

On Tue, Jan 4, 2022 at 5:15 PM Junjie Zhou ***@***.***> wrote:

[2022-01-05 02:15] xwm1992 commented on #687
`SyncRequestInstance` has't been supported under the http mode .

[2022-01-05 06:39] xwm1992 commented on #673
@jzhou59 please help to improve both English and Chinese documents, thanks.

[2022-01-05 11:08] ruanwenjun opened #690 "[Enhancement] Remove extra code style check job in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Since we have solved all the code style issue, now the code style in master branch meet our rule.
And we already have check style task in our build task.
When we execute `./gradlew clean build`, it will trigger check task aut

[2022-01-05 11:21] ruanwenjun opened #692 "[Enhancement] Change the default merge strategy to squash"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

In most times, I think use squash merge is better, this can reduce the committs number and make the committs log clear.

A clear committs log can help developers easy to scan the history of changes.

### Describe the solution

[2022-01-05 11:22] ruanwenjun commented on #692
@qqeasonchen What do you think?

[2022-01-05 11:34] qqeasonchen commented on #692
LGTM

[2022-01-05 12:35] #690 closed

[2022-01-06 02:14] #692 closed

[2022-01-06 02:55] xwm1992 opened #696 "[Enhancement] improve the metrics/tracing exporters' expandability"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Now that the metrics/tracing exporters are under the OpenTelemetry standards in EventMesh. I suggest to improve there expandability for other users design their own metrics/tracing exporters.

### Describe the solution you'd

[2022-01-06 04:38] zscomehuyue opened #697 "[Enhancement] 事务事件支持"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

业务发送事件时，需要考虑与本地事务一致性的问题；

### Describe the solution you'd like

1.  集成分布式事务组件
2. 扩展Rocketmq事务

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-01-06 05:00] qqeasonchen commented on #697
@zscomehuyue Could you please using english when descripe the issue?

[2022-01-06 05:18] zscomehuyue commented on #290
Organization: caishixian
Location: Beijing
Contact: zscomehuyue@126.com
Version: v1.2.0
usage scenario: Managed cloud native central event bus and orchestration engine, used by thousands of event driven cloud services and applications in various industries.

[2022-01-06 08:38] xwm1992 commented on #687
This question is clear, so close the issue.

[2022-01-06 08:38] #687 closed

[2022-01-06 12:50] ruanwenjun commented on #696
It's necessary to extract a metrics module to do this.

[2022-01-06 13:24] #673 closed

[2022-01-07 12:27] li-xiao-shuang opened #700 "[Feature] EventMesh supports dashboard"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

Currently, there is no console page for EventMesh. We hope the community can contribute a visual control page based on EventMesh. If you are interested, please comment the issue

### Are you willing to submit PR?

- [ ] Yes I am

[2022-01-08 03:16] Shoothzj opened #702 "The slack link is already dead"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Chrome

### What happened

join slack button is broken

### How to reproduce

click the join slack button

### Debug logs

_No response_

### Are you willing to submit PR?

- [x] Yes I am willing to submit a PR!

[2022-01-08 04:50] qqeasonchen commented on #702
@Shoothzj hi, which button do you indicate?

[2022-01-08 09:00] Shoothzj commented on #702
@qqeasonchen https://join.slack.com/t/apacheeventmesh/shared_invite/zt-yx3n2ak7-HcVG98CDqb~7PwgoDzgfMA

[2022-01-08 10:08] qqeasonchen commented on #702
@Shoothzj ok，You can help to fix it, btw, will you contribute a pulsar connector?

[2022-01-08 13:13] Shoothzj commented on #702
- - - I can't fix that because I don't know the right link 😂
I have the willing, but i haven't figure out how.

[2022-01-08 13:53] ruanwenjun commented on #702
Please check again, I checked it can work now :)

[2022-01-08 14:21] Shoothzj commented on #702
@ruanwenjun It shows that
[code]
Sorry, it might be my fault wrong reading the error message, how can I join this slack channel now?

[2022-01-08 16:27] ruanwenjun commented on #702
When you click the link, a window should pop up, but it doesn't pop?

![image](https://user-images.githubusercontent.com/22415594/148651838-3279b7a8-465b-492c-b808-16aa24cf235f.png)

[2022-01-09 00:17] Shoothzj commented on #702
Yes, it shows
![image](https://user-images.githubusercontent.com/12933197/148664306-67acf688-4e6c-48a8-a130-73a101d46a07.png)

[2022-01-09 03:01] ruanwenjun commented on #702
@Shoothzj Oh, I find the link will be expire in 30d, here is a new link, please try again.
https://join.slack.com/t/apacheeventmesh/shared_invite/zt-11974dndy-cn3Aq638eleKwKPWP9tkLg

[2022-01-09 03:18] Shoothzj commented on #702
@ruanwenjun It works. I open #705 to fix this issue :)

[2022-01-10 01:56] #702 closed

[2022-01-10 12:36] ruanwenjun opened #708 "[Discussion] Rename plugin module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

It might be better to rename all plugin module, the current module name is not good enough.
e.g. rename `eventmesh-connector-plugin` to `eventmesh-connectors`.

### Describe the solution you'd like

No

### Are you willing to

[2022-01-10 15:29] ruanwenjun commented on #696
@xwm1992 This issue can be split into two sub issues.

- Improve metrics exporters' expandability
- improve tracing exporters' expandability

[2022-01-13 13:02] Roc-00 opened #713 "[Bug] Error when running example module without Zipkin working"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Running the starter and example module in IDEA.

### What happened

When spanExporter is set to Zipkin, if Zipkin is not running, an error will be reported when running the example module.
![image](https://user-images.githubuserconte

[2022-01-13 13:12] qqeasonchen commented on #713
@Roc-00 thanks, please help to fix it.

[2022-01-14 06:46] #713 closed

[2022-01-15 08:36] ruanwenjun commented on #562
This feature has been finished, so this issue can be closed.

[2022-01-15 08:36] #562 closed

[2022-01-15 08:38] ruanwenjun commented on #538
Closed by no reply.

[2022-01-15 08:38] #538 closed

[2022-01-15 08:39] ruanwenjun commented on #452
Closed by no reply.

[2022-01-15 08:39] #452 closed

[2022-01-15 18:17] fmvilas opened #716 "[Doc] AsyncAPI: publish and subcribe confusion?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Documentation Related

There seem to be a few typos in [this document](https://github.com/apache/incubator-eventmesh/blob/master/docs/en/features/eventmesh-workflow-design.md) regarding AsyncAPI.

If I'm understanding it correctly, you want to de

[2022-01-15 18:32] fmvilas commented on #716
So having an offline chat with @tsurdilo, he rightly corrected my own confusion here 😅 It seems to be fine as it is because, for instance, the Online App Store is the one putting messages into `store/order` channel. Therefore the AsyncAPI verb should be "subscribe".

I'm closing the issue but feel free to reopen it again. Sorry for the noise 🙏

[2022-01-15 18:32] #716 closed

[2022-01-17 12:44] xwm1992 opened #718 "[Question] Some questions in grpc feature"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

Now that eventmesh support transfer message with http/tcp/grpc three ways, have some questions below:

- as we first design we have supported two protocols(cloudevents/eventmesh message)
- for http transfer method, we use the `HttpComma

[2022-01-17 16:44] jinrongluo commented on #718
Hi @xwm1992 Thanks for your review.

GRPC protocol messaging model is different from TCP and HTTP.  We have different message model for different Service/Operations:

- EventMeshMessage
- BatchMessage
- Subscription
- Heartbeat

Detail is in this protobuf file:

https://github.com/apache/incubator-eventmesh/blob/grpc/eventmesh-protocol-plugin/eventmesh-protocol-grpc/src/main/proto/eventmesh-client

[2022-01-18 01:30] jinrongluo commented on #718
Discussed with @xwm1992 offline. We agree to rename EventMeshMessage to SimpleMessage.

[2022-01-18 06:37] ruanwenjun commented on #290
Organization: Individual
Location: Shanghai
Contact: bestruanwenjun@gmail.com
Version: v1.3.0
usage scenario: Study event driver architecture.

[2022-01-18 06:38] liwenzheng commented on #290
Organization:FORMS SYNTRON
Location: Shenzhen, Guangdong
Contact: liwenzheng.love@163.com
Version: v1.2.0
usage scenario: as a cloud native architecture, message broker，and  personal learning

[2022-01-18 15:45] jinrongluo commented on #718
hi @xwm1992 as per your suggestion. I rename the GRPC publish message to SimpleMessage.

Here is the commit - https://github.com/apache/incubator-eventmesh/pull/723/commits/802b010ef6686ef4d891bee1214071f9d6787a1c

The PR is here - https://github.com/apache/incubator-eventmesh/pull/723

Thanks for review.

[2022-01-19 04:59] Shoothzj opened #726 "[Enhancement] Remove the misleading annotation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Remove the misleading annotation

### Describe the solution you'd like

Remove the misleading annotation

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-01-19 05:00] Shoothzj opened #727 "[Enhancement] Add exception cause"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Add exception cause

### Describe the solution you'd like

Add exception cause

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-01-19 07:42] #727 closed

[2022-01-19 07:43] #726 closed

[2022-01-19 23:51] Shoothzj opened #729 "[Enhancement] Bump netty version to support java17"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Bump netty version to support java11

### Describe the solution you'd like

Bump netty version

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-01-20 07:35] #729 closed

[2022-01-20 09:30] #340 closed

[2022-01-20 09:30] #367 closed

[2022-01-20 09:30] #375 closed

[2022-01-20 09:30] #564 closed

[2022-01-20 12:27] ruanwenjun opened #732 "[Bug] Binary package failed to execute"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

-OS mac
-EventMesh version: 1.3.0-release

### What happened

When run with start.sh, find can't pub/sub message with runtime.

This is due to the runtime cannot find the `protocol-api` module, since we put `protocol-api` in plugin m

[2022-01-20 12:33] ruanwenjun commented on #732
@xwm1992 @qqeasonchen Using docker image may also meet this problem. An easy way to hot fix this is adding plugin directory into classpath.
And do we need to release 1.3.1 to fix this?

[2022-01-20 18:51] pjfanning opened #735 "[Enhancement] Update log4j to 2.17.1 (or newer)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

https://github.com/apache/incubator-eventmesh/blob/master/build.gradle#L412 -- shows that log4j 2.17.0 is used but this too has a CVE. https://logging.apache.org/log4j/2.x/security.html

### Describe the solution you'd like

[2022-01-21 09:37] ruanwenjun commented on #732
Yes, I have submitted a pr.

[2022-01-21 09:52] #732 closed

[2022-01-22 02:46] ruanwenjun commented on #735
closed by #736

[2022-01-22 02:46] #735 closed

[2022-01-22 10:24] ruanwenjun opened #737 "[Bug] MIssing Netty LICENSE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Since we upgrade to `io.netty:netty-all:4.1.73.Final`, we will get some extra binary jar. The extra jar's license have not been added in EventMesh.

### What happened

no

### How to reproduce

no

### Debug logs

_No response_

###

[2022-01-24 03:39] creeew opened #739 "[Question] Eventmesh running memory cost"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

Hi, friends. Could you tell me the average memory cost when a eventmesh project running

[2022-01-24 03:48] qqeasonchen commented on #739
@creeew Eventmesh has a very simple architecture, it acts as a computer node rather than a store, so memory is not the main consumption. but I agree it still has some optimizations.

[2022-01-24 06:22] liwenzheng opened #740 "[Feature] The data flow is changed from synchronous to asynchronous"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

Hi ,all. At present, sending messages adopts multi-threaded synchronous processing. This is done to implement the pub / sub model. However, doing so will lead to the coupling of the client to the mesh. The flow of messages should

[2022-01-24 06:47] #739 closed

[2022-01-24 07:17] qqeasonchen commented on #739
@qqeasonchen btw, Eventmesh support cluster scale, so it may not a problem.

[2022-01-24 08:56] qqeasonchen commented on #740
@liwenzheng glad to see this, we can have a discussion.

[2022-01-24 09:45] wqliang opened #742 "missing necessary jar when build deploy package"
I build the deploy package base on master branch using the following command
`gradle clean jar dist && gradle  installPlugin`

If I put a plugin of rocketmq admin into plugin folder, it run failed for missing the jar of `eventmesh-admin-rocketmq`

[2022-01-24 09:54] liwenzheng commented on #740
ok,我认为在Event-Mesh生态中，Mesh就好比一家物流公司，Event则是货物，将货物送到哪里，是由货物自身的订单决定。整个行程可以分为很多段，每一段由两个驿站组成，而驿站之间的送货方式，由他们自己决定。每一种送货方式 都不应该跨过驿站。说这么多，无非是想说，Event货物 决定路线，而Mesh/Client节点则只能提供多种类型的运送工具，而不应该关心送的啥。

[2022-01-24 09:57] liwenzheng commented on #740
ok,我认为在Event-Mesh生态中，Mesh就好比一家物流公司，Event则是货物，将货物送到哪里，是由货物自身的订单决定。整个行程可以分为很多段，每一段由两个驿站组成，而驿站之间的送货方式，由他们自己决定。每一种送货方式 都不应该跨过驿站。说这么多，无非是想说，Event货物 决定路线，而Mesh/Client节点则只能提供多种类型的运送工具，而不应该关心送的啥。I think in the event mesh ecosystem, mesh is like a logistics company. Event is goods. Where the goods are sent is determined by the orders of the goods themselves. The whole journey can be divided into many secti

[2022-01-24 09:57] liwenzheng commented on #740
ok,我认为在Event-Mesh生态中，Mesh就好比一家物流公司，Event则是货物，将货物送到哪里，是由货物自身的订单决定。整个行程可以分为很多段，每一段由两个驿站组成，而驿站之间的送货方式，由他们自己决定。每一种送货方式 都不应该跨过驿站。说这么多，无非是想说，Event货物 决定路线，而Mesh/Client节点则只能提供多种类型的运送工具，而不应该关心送的啥。I think in the event mesh ecosystem, mesh is like a logistics company. Event is goods. Where the goods are sent is determined by the orders of the goods themselves. The whole journey can be divided into many secti

[2022-01-25 07:09] xwm1992 opened #744 "[Bug] Using Request-Reply mode timeout with grpc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Window

### EventMesh version

Other

### What happened

![image](https://user-images.githubusercontent.com/13237619/150927703-1a7ef596-8e0d-4127-92de-436d974fd552.png)

### How to reproduce

I run the code under the grpc branch, use

[2022-01-25 07:10] xwm1992 commented on #744
@jinrongluo please help take a look , may be my operation is not correct, thanks.

[2022-01-25 07:50] xwm1992 opened #745 "[Bug] Using grpc async subscribe with rocketmq doesn't ack the message"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Window

### EventMesh version

Other

### What happened

![image](https://user-images.githubusercontent.com/13237619/150932454-0e58355e-30ee-4607-bc48-3c186fd2cf0a.png)
![image](https://user-images.githubusercontent.com/13237619/1509

[2022-01-25 07:51] xwm1992 commented on #745
@jinrongluo please help take a look , thanks.

[2022-01-25 07:51] #742 closed

[2022-01-25 08:11] xwm1992 commented on #718
![image](https://user-images.githubusercontent.com/13237619/150936078-a4877130-2031-487a-bc68-aa034b1ebea5.png)
@jinrongluo Hi, I have some questions for the grpc structure of sdk module, for the Pub side, there batch\publish\request-reply three modes for publish; for the Sub side, I only find the async subcribe mode, how can I use the request-reply for grpc?

[2022-01-25 16:02] liwenzheng opened #746 "[Feature] Use disruptor"
![image](https://user-images.githubusercontent.com/1767832/151013707-6199e69c-0423-49cc-8780-d8d3ef80ffb5.png)

[2022-01-25 16:10] liwenzheng commented on #746
![image](https://user-images.githubusercontent.com/1767832/151014448-9fdbe205-618d-4a6d-be8d-9c5392bf851b.png)
Figure 1. Latency histogram comparing Disruptor to ArrayBlockingQueue

[2022-01-25 17:06] jinrongluo commented on #744
Hi @xwm1992  Eventmesh Standalone EventStore does not support RequestReply API,

So when you use Standalone eventstore in Eventmesh and run `RequestReplyInstance`, it will failed with this error

Eventmesh Runtime Error
[code]

RequestReplyInstance Client error

[code]

[2022-01-25 17:10] xwm1992 commented on #744
@jinrongluo I didn't use the standalone connector, I used rocketmq-connector, I forgot to mention the connector type sorry.

[2022-01-25 20:12] jinrongluo commented on #744
Hi @xwm1992  I tried rocketmq eventstore with RequestReply Publish API 'RequestReplyInstance'. I am getting error in RocketMQ side as well.

I tried HTTP `SyncRequestInstance` client also failed with error. I don't know if RocketMQ support "RequestReply" publish.

[code]

[2022-01-25 21:45] jinrongluo commented on #745
@xwm1992 good catch!

I fix these two issues in the commit
https://github.com/apache/incubator-eventmesh/pull/723/commits/025eb2e1cc53df5c3185b65b4a42c1fc4ed93e1e

[2022-01-26 02:27] xwm1992 commented on #744
Http doesn't support for Request-reply, please use the TCP example to try this, execute `SyncResponse` and `SyncRequest`.

[2022-01-26 02:44] #737 closed

[2022-01-26 04:12] liwenzheng opened #747 "[Feature] connection stateless"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

![image](https://user-images.githubusercontent.com/1767832/151102709-92ffad29-996d-4fa5-9abd-dc1487b8ff45.png)
what do you think ?

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-01-26 06:20] qqeasonchen commented on #747
@liwenzheng will all the command will be changed？

[2022-01-26 06:27] liwenzheng opened #748 "[Bug] LogExporter cannot be cast to EventMeshExporter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Mac

### EventMesh version

master

### What happened

![image](https://user-images.githubusercontent.com/1767832/151113877-c2dc0a79-c4ac-4467-91a7-e3219621afa1.png)
![image](https://user-images.githubusercontent.com/1767832/15111393

[2022-01-26 06:30] xwm1992 commented on #748
@Roc-00 please take a look.

[2022-01-26 08:06] liwenzheng commented on #747
@qqeasonchen
![image](https://user-images.githubusercontent.com/1767832/151125483-85c3b77d-bc7d-4993-afeb-aa75d4007633.png)

[2022-01-26 08:10] liwenzheng commented on #747
消息能去的地方只有四种：1.client实例  2.集群内mesh 3.集群外mesh 4.存储到store。只需要做好这个路由器，根据 Command 就能找到相应的session或者api

[2022-01-26 08:51] liwenzheng commented on #748
I know, using exceptions to handle, but this is not a good way。

[2022-01-26 12:43] ruanwenjun commented on #748
Use a ExporterManager to load the exporter is better, we can hold the mapping between exporter name and exporter instance. And in this case, does the LogExporter need to implements with EventMeshExporter?

[2022-01-27 04:56] Roc-00 commented on #748
Yes,you are right, my purpose was to set the logExporter as a default realization.

[2022-01-27 05:00] Roc-00 commented on #748
I am working on transforming trace into plugin.Thank you for your advices, and I will try to use ExporterManager in the trace-plugin.

[2022-01-27 05:49] ruanwenjun commented on #748
Great, you can refer to the other plugin module.

[2022-01-27 05:49] ruanwenjun commented on #748
Great, you can refer to the other plugin module.

[2022-01-27 08:46] zmt-Eason commented on #747
@liwenzheng Hi, I have some questions.
1. How to find the event target by command?
2. Besides adding additional attributes to command, what else should be refactoring and modified?
3. How to pub/sub event for client in this architecture?

[2022-01-27 09:28] liwenzheng commented on #747
First of all, you have to have the architecture of event flow, and then you have the pub / sub mode

[2022-01-27 09:28] liwenzheng commented on #747
@zmt-Eason First of all, you have to have the architecture of event flow, and then you have the pub / sub mode

[2022-01-27 10:48] liwenzheng commented on #747
@zmt-Eason  You can add wechat group and let's chat on wechat

[2022-01-29 02:31] zmt-Eason commented on #655
Good idea! I will submit PR to this issue

[2022-01-29 02:37] zmt-Eason commented on #626
If you use rocketmq as eventstore, you should copy rocketmq-client.properties in package eventmesh-connector-plugin to conf in package runtime, which is not mentioned in quickstart doc.

[2022-02-04 12:19] pjfanning opened #750 "[Bug] eventmesh-common pom has junit and assertj has compile dependencies"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Other

### EventMesh version

1.3.0

### What happened

1.2.0-release is ok (junit is a test scope dependency) but 1.3.0-release exposes test jars as compile scope dependencies

https://repo1.maven.org/maven2/org/apache/eventmesh/eve

[2022-02-05 11:25] pjfanning opened #752 "[Bug] httpclient 4.5.2 has a CVE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Other

### EventMesh version

1.3.0

### What happened

n/a

### How to reproduce

n/a

### Debug logs

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-02-05 11:39] pjfanning opened #754 "[Bug] guava 29.0 has a CVE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Other

### EventMesh version

1.3.0

### What happened

https://mvnrepository.com/artifact/com.google.guava/guava

### How to reproduce

n/a

### Debug logs

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to

[2022-02-05 13:53] pjfanning opened #755 "[Bug] upgrade rocketmq libs because current version brings in jars with CVEs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Other

### EventMesh version

1.3.0

### What happened

Includes a dependency on an old version of snakeyaml with a serious (XML) Entity Expansion issue. May need to wait for a future rocketmq release as current rocketmq release stil

[2022-02-05 23:06] pjfanning opened #756 "[Bug] upgrade commons-validator as v1.6 depends on commons-beanutils 1.92 which has a CVE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Other

### EventMesh version

1.3.0

### What happened

n/a

### How to reproduce

n/a

### Debug logs

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-02-05 23:14] pjfanning commented on #756
this would be fixed by upgrading to latest rocketmq version - https://github.com/apache/incubator-eventmesh/issues/755

[2022-02-05 23:14] #756 closed

[2022-02-07 15:16] jinrongluo opened #758 "[Enhancement] Validate the Url parameter in Http Subscriber"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Currently in HTTP Subscriber, the `url` parameter is not being validated by the Eventmesh runtime, and if a invalid url is specified, the event is delivered to this url wrongly.  This can cause unwanted result and can be secu

[2022-02-08 02:43] #750 closed

[2022-02-08 02:44] #752 closed

[2022-02-08 15:39] ewcchan commented on #744
https://github.com/apache/incubator-eventmesh/pull/759

[2022-02-09 03:04] #758 closed

[2022-02-09 03:07] #754 closed

[2022-02-09 07:49] xiehongfeng100 opened #761 "[Bug] Cloudevents published through TCP cannot be consumed through HTTP"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Window

### EventMesh version

master

### What happened

I publish events to the EventMesh through TCP, but cannot be consumed by the HTTP subscriber.

### How to reproduce

According to the instruction [QuickStart](https://eventmes

[2022-02-09 14:46] xiehongfeng100 opened #762 "[Feature] Support Golang SDK"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

As Golang is used frequently in CloudNative apps, there is a needs to support EventMesh Golang SDK to increase Golang developer adoption.

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-02-10 06:38] #745 closed

[2022-02-10 06:41] vongosling commented on #718
I will close this issue, we could create a new issue to discuss the remaining issues for our new Grpc features.

[2022-02-10 06:41] #718 closed

[2022-02-10 06:45] vongosling commented on #762
We could create it base-on grpc branch. If you'd like to have a look and have a try. @jinrongluo and @qqeasonchen will help you finish it :-)

[2022-02-10 14:01] qqeasonchen commented on #762
@xiehongfeng100 good propasal.

[2022-02-10 14:01] qqeasonchen commented on #762
Sure.

[2022-02-10 14:02] qqeasonchen commented on #761
@xiehongfeng100 got it.

[2022-02-10 14:34] jinrongluo commented on #744
@xwm1992 this issue is fixed by grpc PR #723 .

Thanks.

[2022-02-11 09:18] #744 closed

[2022-02-11 17:26] jinrongluo commented on #658
Thanks I will contribute PR for this CloudEvents webhook spec

[2022-02-11 20:04] jinrongluo commented on #658
For implementing CloudEvents WebHook Spec, the following items required:

**Delivery Notification Request**

1. use HTTPS when invoking the webhook
2.  HTTP Header uses `Content-Type`
3. HTTP Header includes `WebHook-Request-Origin`

**Delivery Notification Response**
1. If delivery is accepted and processed, there is payload in response, Http return Code 200 OK / 201 Created, Response HTTP Header

[2022-02-13 06:12] ruanwenjun commented on #655
closed by #760

[2022-02-13 08:00] ruanwenjun opened #764 "[Feature] Split shell script into Windows and Linus"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

I find the current shell cannot start success on my Mac system. It seems some script is incompatible in windows and Unix like system.

It might be better to split the shell script into different systems, if there is no other conc

[2022-02-13 08:29] qqeasonchen commented on #584
@ruanwenjun good suggestions.

[2022-02-14 08:20] xwm1992 commented on #584
We can move our docs to the website repository (https://github.com/apache/incubator-eventmesh-site) archive these documents by version, and leave the url in the code repository, which can refer to : https://github.com/apache/incubator-linkis-website

[2022-02-14 20:03] jinrongluo opened #768 "[Bug] HTTP Subscriber: Updating subscription information is not taking effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Environment

Window

### EventMesh version

master

### What happened

In HTTP subscription, the changes in subscription will not trigger the `ConsumerGroupManager` to refresh. So the updates of the subscription is not taking effect.

The `Consum

[2022-02-15 03:29] xwm1992 commented on #768
Hi @jinrongluo，I think this is not a normal orperating scenario, because the `cgm` objects are distinguished by group and client IP, in your test your client doesn't change only change the subscription is not correct, may be you should first unsubscribe the topic, then subscribe the newest topics, or you may want to modify the subscription information at run time, but this hasn't been supported ye

[2022-02-15 15:42] jinrongluo commented on #768
Thanks, unsubscribe -> subscribe will work, but it has performance impact in our Production use case.

[2022-02-16 07:07] #768 closed

[2022-02-17 11:58] lrhkobe opened #774 "[Enhancement] Remove prodcerGroup and consumerGroup fields in UserAgent, which are strongly related with MQ"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

The field of producergroup and consumergroup in UserAgent.java seem to be  strongly related with MQ. As the client of eventmesh,   may not need to understand it. It may be more appropriate to directly replace it with a group

[2022-02-22 02:24] #774 closed

[2022-02-22 03:20] qqeasonchen opened #778 "[Feature] Support Event-query language(EQL)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

https://www.elastic.co/cn/blog/introducing-event-query-language

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-02-22 07:00] lrhkobe opened #780 "[Enhancement] EventListener defines in the level of Consumer may be more proper instead of the level of topic"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

The eventListner in `Consumer.java` may be more proper if defined in the level of Consumer,instead of the level of Topic. Because the logic of eventListener is same for each topic in EventMesh.

[code]

### Describe the solut

[2022-02-23 06:39] Alonexc opened #782 "[Enhancement] invalid code can be removed from the eventmesh-connector-plugin module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

Some invalid code was found in this module.Such as:
<img width="640" alt="image" src="https://user-images.githubusercontent.com/91315508/155270904-68335b0e-d3ff-4948-86e2-26a301b335f6.png">
<img width="640" alt="image" src="https://user

[2022-02-23 07:12] Alonexc opened #783 "[Question] Can I remove invalid code from the eventmesh-runtime module?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

There is a lot of invalid code in the EventMesh-Runtime module, for example:
<img width="863" alt="Screen Shot 2022-02-23 at 14 48 02" src="https://user-images.githubusercontent.com/91315508/155272774-14a06bba-6d15-4bb1-9874-a03d26d4b4b

[2022-02-23 07:59] #780 closed

[2022-02-23 08:03] AhahaGe commented on #782
can I have a try?

[2022-02-23 08:04] Alonexc opened #784 "[Enhancement] Some suggestions for the eventmesh-admin module."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

<img width="640" alt="image" src="https://user-images.githubusercontent.com/91315508/155280074-b8447ff3-d739-4cfa-a31d-02b3b9cd63cf.png">
<img width="640" alt="image" src="https://user-images.githubusercontent.com/91315508/155280209-122

[2022-02-23 08:06] sarihuangshanrong commented on #783
let me do that.

[2022-02-23 08:06] Alonexc commented on #782
Sure.

[2022-02-23 08:08] AhahaGe commented on #782
please assign to me

[2022-02-23 08:09] Alonexc commented on #783
OK.

[2022-02-23 08:12] AhahaGe commented on #784
please assign to me

[2022-02-23 08:12] gzchen008 commented on #784
got it

[2022-02-23 08:15] gzchen008 commented on #784
got it

[2022-02-23 08:16] xwm1992 commented on #784
Hi, @AhahaGe , please leave this to the new guy and find if there are points of interest in roadmap.

[2022-02-23 08:17] likegeek commented on #784
please let me try

[2022-02-23 08:19] xwm1992 commented on #784
@likegeek sorry this has been assigned to @gzchen008, we will continue to sort out some issues.

[2022-02-23 08:21] AhahaGe commented on #784
fine

[2022-02-23 08:23] Alonexc opened #785 "[Enhancement] Some suggestions for eventmesh-examples."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

<img width="640" alt="image" src="https://user-images.githubusercontent.com/91315508/155282108-4f68a82d-4260-4629-8f41-8b36003d3030.png">
These constants are used in multiple classes and are proposed to be placed in a Constant class.
<i

[2022-02-23 08:29] likegeek commented on #785
please let me try

[2022-02-23 09:39] Alonexc opened #786 "[Question] Some suggestions for the eventmesh-sdk-java module."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Question

<img width="640" alt="image" src="https://user-images.githubusercontent.com/91315508/155291569-8c55979e-31a9-41d6-9b86-228eca4a0097.png">

Located in:eventmesh-sdk-java/src/main/java/org/apache/eventmesh/client/tcp/common/RequestContext

[2022-02-23 09:57] lucky-lsr commented on #786
please assign to me

[2022-02-23 09:59] Alonexc commented on #786
OK

[2022-02-24 01:01] ruanwenjun commented on #784
Closed by #788

[2022-02-24 03:20] #786 closed

[2022-02-24 04:14] qqeasonchen opened #790 "[Feature] Support Knative as Eventing Infra"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

The high level mission of Knative Eventing is: Enable asynchronous application development through event delivery from anywhere. EventMesh can acts as Eventing Infra.

https://knative.dev/docs/
https://knative.dev/docs/eventing/

[2022-02-24 07:44] #783 closed

[2022-02-25 07:38] #784 closed

[2022-02-28 07:10] #782 closed

[2022-03-01 02:41] xwm1992 opened #795 "[Doc] fix incorrect instruction in eventmesh-runtime-quickstart-with-docker.md"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Documentation Related

![image](https://user-images.githubusercontent.com/13237619/156094035-93da5794-c518-4778-8e4a-1b58ec1fee03.png)

above picture have the instruction error, please fix this change the `eventMesh.properties` -> `eventmesh.prop

[2022-03-01 02:46] ZhangQuankang commented on #795
please assign to me

[2022-03-01 03:15] xwm1992 opened #796 "[Enhancement] compile project with junit error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

![image](https://user-images.githubusercontent.com/13237619/156096894-959e324b-dafe-4326-a879-749a2ecaf445.png)
compile project with junit error

### Describe the solution you'd like

![image](https://user-images.githubuserco

[2022-03-01 07:07] #795 closed

[2022-03-02 06:05] #785 closed

[2022-03-03 08:20] hsld9527 commented on #796
assign to me, please

[2022-03-04 04:13] #796 closed

[2022-03-07 08:30] ruanwenjun opened #804 "[Enhancement] Run CI on all branch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

Currently, the GitHub CI will only run on some target branch, it means when we develop new feature with feature branch, the CI will not be trigger.

This will result in many issues that will need to  be resolved when the feat

[2022-03-08 08:23] #804 closed

[2022-03-08 09:32] Alonexc opened #806 "[Enhancement] a complement to code optimization for the eventmesh-examples module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

In the eventmesh-examples module,http and grpc are not code optimized

### Describe the solution you'd like

We suggest that such constants be placed in a constant class and the constant class be placed in the `eventmesh-exam

[2022-03-09 01:15] fengyongshe commented on #806
I'm willing to do it.

[2022-03-10 03:29] #806 closed

[2022-03-12 07:34] xwm1992 opened #809 "[Enhancement] eventmesh trace-zipkin plugin miss the properties"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Enhancement Request

`gradle.properties` file under the `eventmesh-trace-zipkin` plugin miss the `pluginType` and `pluginName`;
`build.gradle` file under the root project miss the `eventmesh-trace-api`

### Describe the solution you'd like

pleas

[2022-03-12 09:22] #809 closed

[2022-03-14 07:26] #417 closed

[2022-03-14 07:42] #696 closed

[2022-03-31 11:37] vongosling opened #815 "[Feature] Support Rust"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

Nowadays, we have redesigned our new generation SDKs based on gRPC. and we plan to support java, go(on the fly). Do we consider supporting rust? This is a very promising and developer-preffered community. We could build based-on

[2022-03-31 11:41] vongosling opened #816 "[Feature] Saga Transaction support"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

More and more customers want to implement consistent distributed transactions based on the event-driven architecture. Currently, there are some practices around saga in the industry. However, the cost is high and the availability

[2022-03-31 12:06] qqeasonchen commented on #553
we can discuss on this thread continue.

[2022-03-31 12:44] AhahaGe commented on #816
I am interested, can I join this?

[2022-04-01 00:39] vongosling opened #817 "[Feature] Metadata consistency and persistent governance"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Feature Request

As we know, metadata is stored in the memory of the EventMesh. When a large-scale cluster encounters jitters, both consistency and reliability are at risk. Here, we hope to propose a metadata management system based on raft or go

[2022-04-01 00:40] vongosling commented on #614
Any update for this thread?

[2022-04-01 02:08] qqeasonchen commented on #697
https://github.com/apache/incubator-eventmesh/issues/816

[2022-04-01 02:12] qqeasonchen commented on #614
@yzhao244 hi, Could you please help to fix it?

[2022-04-01 12:03] walleliu1016 opened #819 "[Doc] Documentation Related eventmesh-runtime-quickstart-with-docker.md docker run command contains">""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/eventmesh/issues?q=is%3Aissue) and found no similar issues.

### Documentation Related

in the docker run
[code]

If you use the copy button on github, > is also copied, and paste it directly on the terminal will report an error:
![1648814470(1)](https://user-images.githubusercontent.com/8541378/161259378-98b5

[2022-04-03 09:35] jzhou59 commented on #614
Hi, I have a pr for the schema client api. I could continue this.

[2022-04-04 09:19] zongtanghu commented on #563
I remember this feature has already supported in the lasteds eventmesh version. @qqeasonchen , So this isssue may be close!

[2022-04-04 09:22] zongtanghu commented on #761
Has anyone else put a pr to fix this issues? @qqeasonchen @ruanwenjun

[2022-04-04 09:24] ruanwenjun commented on #761
Not yet 😄 .

[2022-04-04 09:32] zongtanghu commented on #761
Okay, @wangshaojie4039  you can put forward a pr to fix this bug!

[2022-04-04 10:10] ruanwenjun commented on #761
@wangshaojie4039 If you are interested to fix this issue, I will assign to you.

[2022-04-06 01:26] wangshaojie4039 commented on #761
ok,I will fix it